 <li>
    <a href="{% url 'TalentoHumano:entidades-index' 0 %}" title="Entidades CAFE" data-filter-tags="entidades cafe">
        <i class="far fa-hand-receiving"></i>
        <span class="nav-link-text" data-i18n="nav.talentohumano_entidades-cafe">Entidades CAFE</span>
    </a>
 </li>
  <li>
    <a href="{% url 'TalentoHumano:colaboradores-index' %}" title="Perfil colaboradores" data-filter-tags="perfil colaboradores">
        <i class="far fa-user"></i>
        <span class="nav-link-text" data-i18n="nav.talentohumano_perfil-colaboradores">Perfil de colaboradores</span>
    </a>
 </li>

