{% if perms.TalentoHumano.view_entidadescafe %}
<li {% if menu_actual == 'entidades-cafe' %} class="active" {% endif %}>
    <a href="{% url 'TalentoHumano:entidades-cafe-index' 0 %}" title="Entidades CAFE" data-filter-tags="entidades cafe">
        <i class="far fa-hand-receiving"></i>
        <span class="nav-link-text" data-i18n="nav.talentohumano_entidades-cafe">Entidades CAFE</span>
    </a>
</li>
{% endif%}
{% if perms.TalentoHumano.view_colaborador %}
<li  {% if menu_actual == 'colaboradores' %} class="active" {% endif %}>
    <a href="{% url 'TalentoHumano:colaboradores-index' 0 %}" title="Colaboradores" data-filter-tags="Colaboradores">
        <i class="far fa-user"></i>
        <span class="nav-link-text" data-i18n="nav.talentohumano_perfil-colaboradores">Colaboradores</span>
    </a>
</li>
{% endif %}
{% if perms.Administracion.view_reservasalajuntas %}
<li {% if menu_actual == 'permisos-laborales' %} class="active" {% endif %}>
    <a href="{% url 'TalentoHumano:permisos-laborales-index' %}" title="Permisos Laborales" data-filter-tags="permisos laborales">
        <i class="far fa-id-card-alt"></i>
        <span class="nav-link-text" data-i18n="nav.talentohumano_permisos_laborales">Permisos Laborales</span>
    </a>
</li>
{% endif %}
