{% extends 'GestionActividades/_common/base_gestion_actividades.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
{% endblock styles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}Gestión Actividades{% endblock %}</title>
    </head>
    <body>
    {% block main %}
        <div class="subheader">
            <h1 class="subheader-title">
                <i class="subheader-icon fal fa-archive"></i> Gestión Actividades
                <small>

                </small>
            </h1>
            <div class="subheader-block">

            </div>
        </div>
    {% endblock %}
    </body>
</html>
