.invalid-tooltip {
    line-height: 0.9;
    background-color: #fd395e;
}

.invalid-tooltip-modal {
    position: relative;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color:#ccc;
    background-image: none;
}

.was-validated .form-control:valid, .form-control.is-valid {
    border-color:#ccc;
    background-image: none;
}

div.custom-switch>div.custom-checkbox .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label{
color: #666666 !important;
}

input[type=checkbox]:checked + label:before{
    background-color: #7a59ad !important;
    border-color: #ccc !important;
    color: #666666!important;

}
input[type=checkbox] ~ label:before {
    background-color: gray() !important;
    border-color: #ccc !important;
    color: #666666!important;
}

.seleccionEmpresaGlobal {
    height:60px;
    width:auto;
    max-width:500px;
    padding-bottom: 6px;
}

.custom-file-label{
    overflow: hidden;
}

.custom-file-label::after{
    content: 'Buscar';
}

.m-b-10{
    margin-bottom: 10px !important;
}

.p-b-0{
    padding-bottom: 0 !important;
}

.p-t-0{
    padding-top: 0 !important;
}

.p-l-0{
    padding-left: 0 !important;
}

.p-t-10{
    padding-top: 10px !important;
}

.p-r-10{
    padding-right: 10px; !important;
}

.campo_activo{
    background-color: rgba(233, 233, 233, 0.5); !important;
}

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.p-l-10{
    padding-left: 10px;
}

.p-l-11{
    padding-left: 11px;
}

.p-l-12{
    padding-left: 12px;
}

.w-500{
    width: 500px
}