{% extends 'Financiero/_common/base_financiero.html' %}
{% load static %}
{% load humanize %}
<title>{% block titulo %}Categorías de Movimientos{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
{% endblock styles %}

{% block main %}

    <div class="panel-container show">
        <div class="header">
             <h1 class="header-title">
                <i class='fal fa-window-restore'></i> Categorías de Movimientos <span class='fw-300'></span>
                 <br>
                 <br>
             </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    {% if perms.Financiero.add_categoriamovimiento %}
                    <div class="panel-hdr">
                        <small>
                             <a class="far fa-3x far fa-plus-circle"  href="javascript:abrirModalCrearEditar('{% url 'Financiero:categoria-movimiento-crear' %}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Agregar contrato"></a>
                        </small>
                    </div>
                    {% endif %}
                    <div class="panel-container show">
                        <div class="panel-content">
                                <div class="panel-group">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered w-100" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Descripción</th>
                                                        <th>Estado</th>
                                                        {% if perms.Financiero.change_categoriamovimiento or perms.Financiero.delete_categoriamovimiento %}
                                                            <th>Acción</th>
                                                        {% endif %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for cat_mov in categorias_movimientos %}
                                                        <tr>
                                                            <td>{{ cat_mov.nombre}}</td>
                                                            <td>{{ cat_mov.descripcion }}</td>
                                                            <td>
                                                                <span class="badge badge-primary">{% if cat_mov.estado %}Activo{% else %}Inactivo{% endif %}</span>
                                                            </td>
                                                            {% if perms.Financiero.change_categoriamovimiento or perms.Financiero.delete_categoriamovimiento %}
                                                            <td>
                                                                {% if perms.Financiero.change_categoriamovimiento %}
                                                                    <a class="far fa-2x fa-edit" href="javascript:abrirModalCrearEditar('{% url 'Financiero:categoria-movimiento-editar' cat_mov.id %}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Editar"></a>
                                                                {% endif %}
                                                                {% if perms.Financiero.delete_categoriamovimiento %}
                                                                    <a class="far fa-2x fa-trash-alt color-danger-900" id="eliminar_{{ cat_mov.id }}" href="javascript:void(0);"  onclick="fConfirmarEliminar({{ cat_mov.id }})" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Eliminar"></a>
                                                                {% endif %}
                                                            </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="crear_editar" role="dialog"></div>

    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='financiero/categorias-movimientos' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/ajaxDjango.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/exportar_tabla.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/modalCrearEditar.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/confirmarEliminar.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/exportarTablasCategoriasMovimientos.js' %}"></script>
{% endblock %}