{% load eva_tags %}
{% load static %}
{% if opcion == 'editar' %}
    <form action="{% url 'Financiero:categoria-movimiento-editar' cat_mov.id %}" id="categorias-movimientos-form" method="post" class="needs-validation" novalidate>
{% else %}
    <form action="{% url 'Financiero:categoria-movimiento-crear' %}" id="categorias-movimientos-form" method="post" class="needs-validation" novalidate>
{% endif %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-b-0">
                <h4 class="modal-title">
                    {% if opcion == 'editar' %}Editar Categoría de Movimiento{% else %}Crear Categoría de Movimiento{% endif %}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-12">
                        {% input_text_tag 'nombre' 'Nombre' placeholder="Ingrese el nombre" required="" maxlength="30" value=cat_mov.nombre mensaje_validacion='Por favor digite el nombre.' invalido=errores.nombre %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        {% input_textarea_tag 'descripcion' 'Descripción' placeholder="Ingrese una descripción" required="" maxlength="200" value=cat_mov.descripcion mensaje_validacion='Por favor digite una descripción.' invalido=errores.descripcion %}
                    </div>
                </div>
                {% if opcion == 'editar' %}
                    <div class="form-row">
                        <div class="form-group col-12">
                            {% input_checkbox_tag 'estado' 'Estado' value=cat_mov.estado  %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-pills">Cancelar</button>
                <button id="guardar" type="submit" class="btn btn-primary btn-pills">{% if opcion == 'editar' %} Actualizar {% else %} Agregar {% endif %}</button>
            </div>
        </div>
    </div>
</form>
