.form-control {
  background-image: none !important;
    border-color:#ccc !important;
    color:#333 !important;
    outline: none !important;
    user-focus: none !important;
    user-focus-key: none !important;
    user-focus-pointer: none !important;
}
