{% extends 'TalentoHumano/_common/base_talento_humano.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}Entidades CAFE{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/notifications/sweetalert2/sweetalert2.bundle.css'%}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
{% endblock styles %}

{% block main %}

    <div class="panel-container show">
            <div class="header">
                 <h1 class="header-title">
                    <i class='far fa-hand-receiving'></i> Entidades CAFE <span class='fw-300'></span>
                     <br>
                     <br>
                 </h1>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="panel-1" class="panel">
                        <div class="panel-panel-default">
                            <div class="panel-header">
                                <br>
                                <small>
                                     <a class="far fa-3x far fa-plus-circle" style="padding-left: 20px" href="{% url 'TalentoHumano:entidades-crear' %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Agregar contrato"><label style="font-size: 18px" ></label></a>
                                </small>
                                <div class="col-md-2" style="float: right" >
                                    {% select_tag tipos_entidades 'tipo_entidad_id' '' value=id_entidad  %}
                                </div>
                            </div>
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                    <div class="panel-group">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="form-row">

                                                 </div>
                                             </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered w-100" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre entidad</th>
                                                            <th>Dirección</th>
                                                            <th>Nombre del contacto</th>
                                                            <th>Teléfono del contacto</th>
                                                            <th>Correo electrónico</th>
                                                            <th>Dirección web</th>
                                                            <th>Acción</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for entidad_cafe in entidades_cafe %}
                                                            <tr>
                                                                <td>{{ entidad_cafe.nombre}}</td>
                                                                <td>{{ entidad_cafe.direccion }}</td>
                                                                <td>{{ entidad_cafe.nombre_contacto}}</td>
                                                                <td>{{ entidad_cafe.telefono_contacto }}</td>
                                                                <td>{{ entidad_cafe.correo}}</td>
                                                                <td><a href="http://{{ entidad_cafe.direccion_web }}" target="_blank">{{ entidad_cafe.direccion_web }}</a></td>
                                                              <td>
                                                                    <a class="far fa-2x fa-edit"   href="{% url 'TalentoHumano:entidades-editar' entidad_cafe.id %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Editar"></a>
                                                                    <a class="far fa-2x fa-trash-alt color-danger-900" id="eliminar_{{ entidad_cafe.id }}" href="javascript:void(0);"  onclick="fConfirmarEliminarEntidad({{ entidad_cafe.id }})" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Eliminar"></a>
                                                              </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='talento-humano/entidades' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/confirmarEliminarEntidad.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/ajaxDjango.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/filtro_entidad.js' %}"></script>
        <!-- datatbles buttons bundle contains:
    + "jszip.js",
    + "pdfmake.js",
    + "vfs_fonts.js"
    NOTE: 	The file size is pretty big, but you can always use the
            build.json file to deselect any components you do not need under "export" -->
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
        <script>
            $(document).ready(function()
            {
                 let columnasExportar = [0, 1,3, 4, 6, 9, 12, 13];

                // initialize datatable
                $('#dataTable').dataTable(
                {

                    responsive: true,
                    lengthChange: false,
                    dom:

                        /*	--- Layout Structure
                            --- Options
                            l	-	length changing input control
                            f	-	filtering input
                            t	-	The table!
                            i	-	Table information summary
                            p	-	pagination control
                            r	-	processing display element
                            B	-	buttons
                            R	-	ColReorder
                            S	-	Select

                            --- Markup
                            < and >				- div element
                            <"class" and >		- div with a class
                            <"#id" and >		- div with an ID
                            <"#id.class" and >	- div with an ID and a class

                            --- Further reading
                            https://datatables.net/reference/option/dom
                            --------------------------------------
                         */
                        "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        /*{
                            extend:    'colvis',
                            text:      'Column Visibility',
                            titleAttr: 'Col visibility',
                            className: 'mr-sm-3'
                        },*/
                        {
                            extend: 'pdfHtml5',
                            text: 'PDF',
                            className: 'btn-outline-danger btn-sm mr-1',
                             exportOptions: {
                            columns: columnasExportar,
                          },

                        },
                        {
                            extend: 'excelHtml5',
                            text: 'Excel',
                            className: 'btn-outline-success btn-sm mr-1',
                            exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],

                          },
                        },
                        {
                            extend: 'csvHtml5',
                            text: 'CSV',
                            className: 'btn-outline-primary btn-sm mr-1',
                            exportOptions: {
                            columns: columnasExportar,

                          },

                        },
                        {
                            extend: 'copyHtml5',
                            text: 'Copiar',
                            className: 'btn-outline-primary btn-sm mr-1',
                            exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                          },
                        },
                        {
                            extend: 'print',
                            text: 'Imprimir',
                            className: 'btn-outline-primary btn-sm',
                            exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                          },
                        }
                    ],
                     language: {
                        buttons: {
                            copyTitle: 'Copiado al portapapeles',
                            copySuccess: {
                                _: '%d líneas copiadas',
                                1: '1 línea copiada',

                            },
                        },
                        info: 'Mostrando entidades del _START_ al _END_ de un total de  _TOTAL_ entidades',

                     }
                });
                $("#dataTable_filter").find("input").attr("placeholder", "Buscar");

            });
        </script>

        <script>
		$(document).ready(function () {
		    $('.select2').select2();
		});
	</script>

    {% endblock %}