{% extends 'TalentoHumano/_common/base_talento_humano.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}Entidades CAFE{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/notifications/sweetalert2/sweetalert2.bundle.css'%}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
{% endblock styles %}

{% block main %}

    <div class="panel-container show">
            <div class="header">
                 <h1 class="header-title">
                    <i class='far fa-hand-receiving'></i> Entidades CAFE <span class='fw-300'></span>
                     <br>
                     <br>
                 </h1>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="panel-1" class="panel">
                        <div class="panel-hdr">
                            <br>
                            <div class="col-md-10">
                                {% if perms.TalentoHumano.add_entidadescafe %}
                                <small>
                                     <a class="far fa-3x far fa-plus-circle" href="{% url 'TalentoHumano:entidades-cafe-crear' %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Agregar Entidad CAFE"></a>
                                </small>
                                {% endif %}
                            </div>
                            <div class="col-md-2" style="float: right" >
                                {% select_tag tipos_entidades 'tipo_entidad_id' '' value=id_entidad  %}
                            </div>
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                    <div class="panel-group">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="form-row">
                                                 </div>
                                             </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered w-100" id="dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre entidad</th>
                                                            <th>Dirección</th>
                                                            <th>Nombre del contacto</th>
                                                            <th>Teléfono del contacto</th>
                                                            <th>Correo electrónico</th>
                                                            <th>Dirección web</th>
                                                            {% if perms.TalentoHumano.change_entidadescafe or perms.TalentoHumano.delete_entidadescafe %}
                                                            <th>Acción</th>
                                                            {% endif %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for entidad_cafe in entidades_cafe %}
                                                            <tr>
                                                                <td>{{ entidad_cafe.nombre}}</td>
                                                                <td>{{ entidad_cafe.direccion }}</td>
                                                                <td>{{ entidad_cafe.nombre_contacto}}</td>
                                                                <td>{{ entidad_cafe.telefono_contacto }}</td>
                                                                <td>{{ entidad_cafe.correo}}</td>
                                                                <td><a href="http://{{ entidad_cafe.direccion_web }}" target="_blank">{{ entidad_cafe.direccion_web }}</a></td>
                                                                {% if perms.TalentoHumano.change_entidadescafe or perms.TalentoHumano.delete_entidadescafe %}
                                                                <td>
                                                                    {% if perms.TalentoHumano.change_entidadescafe %}
                                                                    <a class="far fa-2x fa-edit" href="{% url 'TalentoHumano:entidades-cafe-editar' entidad_cafe.id %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Editar"></a>
                                                                    {% endif %}
                                                                    {% if perms.TalentoHumano.delete_entidadescafe %}
                                                                    <a class="far fa-2x fa-trash-alt color-danger-900" id="eliminar_{{ entidad_cafe.id }}" href="javascript:void(0);"  onclick="fConfirmarEliminarEntidad({{ entidad_cafe.id }})" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Eliminar"></a>
                                                                    {% endif %}
                                                                </td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='talento-humano/entidades-cafe' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/confirmarEliminarEntidad.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/ajaxDjango.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/filtro_entidad.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/exportar_tabla.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/Entidades_CAFE/exportar_tabla.js' %}"></script>
    <script>
		$(document).ready(function () {
		    $('.select2').select2();
		});
	</script>

    {% endblock %}
