.bg-faded {
    background-color: var(--theme-primary);
    box-shadow: 0.8rem 0.8rem 0.7rem rgba(0, 0, 0, 0.80) !important;
}

.bg-faded-white {
  background-color: #fff; }

.form-control, .form-control:focus {
    background-color: var(--theme-primary) !important;
    color: #fff;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--theme-primary) inset;
    -webkit-text-fill-color: #fff !important;
}
.form-control::-webkit-input-placeholder {
    color: #d5d5d5;
}

.form-label {
    color: var(--theme-primary);
}

.titulo-autenticacion {
    color: var(--theme-primary);
}

.fondo-autenticacion {
    background: white url('../../img/fondo.svg') no-repeat center bottom fixed;
    background-size: cover;
}

