{% extends 'Administracion/_common/base_administracion.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %} Actividades Económicas {% endblock %}</title>
{% block styles %}
<!-- DEMO related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{%static 'EVA/Plantilla/css/fa-brands.css' %}">
	<!-- page related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
{% endblock styles%}

{% block main %}
    <div class="panel-container show">
        <div class="header">
             <h1 class="header-title">
                <i class='far fa-handshake'></i> Actividades Económicas
                 <br>
                 <br>
             </h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10  col-lg-11 col-md-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <form action="{% url 'Administracion:proveedor-perfil-informacion-basica' %}" id="informacion-basica-form" method="post" class="needs-validation" novalidate>
                                        {% csrf_token %}
                                        <input hidden value="{{ json_tipo_identificacion }}" id="json_tipo_identificacion">
                                        <div class="form-row">
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                {% input_text_tag 'actividad_principal' 'Código de Actividad Principal' placeholder="Ingrese el código" maxlength="100" required="" value=proveedor.nombre mensaje_validacion='Por favor ingrese un nombre' invalido=errores.nombre %}
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                {% input_text_tag 'actividad_secundaria' 'Código de Actividad Secundaria' placeholder="Ingrese el código" maxlength="100" value=proveedor.nombre mensaje_validacion='Por favor ingrese un nombre' invalido=errores.nombre %}
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                {% input_text_tag 'otra_actividad' 'Otra Actividad' placeholder="Ingrese el código" maxlength="100" value=proveedor.nombre mensaje_validacion='Por favor ingrese un nombre' invalido=errores.nombre %}
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                {% input_text_tag 'nit' 'NIT (Sin Dígito de Verificación)' placeholder="Ingrese el NIT"  maxlength="100" required="" value=proveedor.identificacion mensaje_validacion='Por favor ingrese el el nit.' invalido=errores.numero_contrato %}
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                {% select_tag regimenes 'regimen' 'Seleccione un régimen' texto_label="Régimen al que pertenece" required="" value=proveedor.ciudad_id  mensaje_validacion='Por favor seleccione un departamento' %}
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                {% select_tag tipo_contribuyente 'tipo_contribuyente' 'Seleccione un tipo' texto_label="Tipo de Contribuyente" required="" value=proveedor.ciudad_id  mensaje_validacion='Por favor seleccione un departamento' %}
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="excento_iyc_id" name="excento_iyc">
                                                    <label class="custom-control-label" for="garantia_extensiva">Excento de Industria y Comercio</label>
                                                </div><br>
                                                <div id="div_excento_iyc">
                                                    {% input_text_tag 'resolucion' 'Número de Resolución' placeholder="Ingrese un número"  maxlength="100" required="" value=proveedor.identificacion mensaje_validacion='Por favor ingrese el el nit.' invalido=errores.numero_contrato %}
                                                </div>
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="contibuyente_iyc_id" name="contibuyente_iyc">
                                                    <label class="custom-control-label" for="garantia_extensiva">Contribuyente Industria y Comercio</label>
                                                </div><br>
                                                <div id="div_contibuyente_iyc">
                                                    {% input_text_tag 'contribuyente_iyc' 'Contribuyente Industria y Comercio' placeholder="Ingrese un valor"  maxlength="100" required="" value=proveedor.identificacion mensaje_validacion='Por favor ingrese el el nit.' invalido=errores.numero_contrato %}
                                                </div>
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="entidad_publica_id" name="entidad_publica">
                                                    <label class="custom-control-label" for="garantia_extensiva">Entidad Pública</label>
                                                </div><br>
                                                <div id="div_entidad_publica">
                                                    {% input_text_tag 'entidad_publica' 'Entidad Pública' placeholder="Seleccione una opción" maxlength="100" required="" value=proveedor.identificacion mensaje_validacion='Por favor ingrese el el nit.' invalido=errores.numero_contrato %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div>
                                                <button id="guardar" class="btn btn-primary btn-block"> Guardar </button>
                                            </div>
                                            <div style="padding-left: 15px">
                                                <a href="{% url 'Administracion:proveedor-perfil' %}" class="btn btn-danger btn-block">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'Administracion/js/select_divipol.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
	<script src="{% static 'EVA/Plantilla/js/custom/modificacionesSelect2.js' %}"></script>
    <script src="{% static 'Administracion/js/selecctoresMultiplesDivipol.js' %}"></script>
    <script src="{% static 'Administracion/js/Tercero/proveedor.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/date_picker.js' %}"></script>
{% endblock scripts%}