{% extends 'Administracion/_common/base_administracion.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %} Actividades Económicas {% endblock %}</title>
{% block styles %}
<!-- DEMO related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{%static 'EVA/Plantilla/css/fa-brands.css' %}">
	<!-- page related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
{% endblock styles%}

{% block main %}
    <div class="panel-container show">
        <div class="header">
             <h1 class="header-title">
                <i class="far fa-dollar-sign"></i> Actividades Económicas
                 <br>
                 <br>
             </h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10  col-lg-11 col-md-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <form action="{% url 'Administracion:proveedor-perfil-actividades-economicas' %}" id="actividades-economicas-form" method="post" class="needs-validation" novalidate>
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                {% select_tag actividades_economicas 'actividad_principal' 'Seleccione una actividad' texto_label="Actividad Principal" required="" value=proveedor_actec.actividad_principal_id  mensaje_validacion='Por favor seleccione una actividad' %}
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                {% select_tag actividades_economicas 'actividad_secundaria' 'Seleccione una actividad' texto_label="Actividad Secundaria" value=proveedor_actec.actividad_secundaria_id  mensaje_validacion='Por favor seleccione una actividad' %}
                                            </div>
                                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                {% select_tag actividades_economicas 'otra_actividad' 'Seleccione una actividad' texto_label="Otra Actividad" value=proveedor_actec.otra_actividad_id  mensaje_validacion='Por favor seleccione una actividad' %}
                                            </div>
                                        </div>

                                        {# Solo se solicita la demás infomración si el país del proveedor es Colombia(57) #}
                                        {% if not proveedor.extranjero %}
                                            <div class="form-row">
                                                <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                    {% select_tag regimenes_fiscales 'regimen_fiscal' 'Seleccione un régimen fiscal' is_tupla=True texto_label="Régimen Fiscal" value=proveedor.regimen_fiscal required="" mensaje_validacion='Por favor seleccione un régimen fiscal.' invalido=errores.regimen_fiscal %}
                                                </div>
                                                <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                    {% select_tag tipos_contribuyentes 'tipo_contribuyente' 'Seleccione un tipo de contribuyente' is_tupla=True texto_label="Tipo de Contribuyente" value=proveedor_actec.tipo_contribuyente required="" mensaje_validacion='Por favor seleccione un tipo de contribuyente.' invalido=errores.tipo_contribuyente %}
                                                </div>
                                                {% if not persona_juridica %}
                                                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                        <div class="custom-control custom-checkbox" style="padding-top: 33px; padding-left: 40px">
                                                            <input type="checkbox" class="custom-control-input" id="check_declara_renta_id" name="declara_renta" {% if proveedor_actec.declara_renta %}checked{% endif %}>
                                                            <label class="custom-control-label" for="check_declara_renta_id">Declarante de Renta</label>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                        {% select_tag tributos 'tributo' 'Seleccione un tributo' is_tupla=True texto_label="Tributo" value=proveedor.tributos required="" mensaje_validacion='Por favor seleccione un tributo.' invalido=errores.tributos%}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="form-row">
                                                {% if persona_juridica %}
                                                    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                        {% select_multiple_tag responsabilidades 'responsabilidades' 'responsabilidades_id' 'Seleccione una responsabilidad fiscal' is_tupla=True texto_label="Responsabilidad Fiscal" value=responsabilidades_tercero required="" mensaje_validacion='Por favor seleccione una responsabilidad fiscal.' multiple='multiple' invalido=errores.responsabilidades %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="check_excento_iyc_id" name="excento_iyc" {% if proveedor_actec.numero_resolucion %}checked{% endif %}>
                                                        <label class="custom-control-label" for="check_excento_iyc_id">Excento de Industria y Comercio</label>
                                                    </div><br>
                                                    <div id="div_excento_iyc">
                                                        {% input_text_tag 'resolucion' 'Número de Resolución' placeholder="Ingrese un número"  maxlength="100" value=proveedor_actec.numero_resolucion mensaje_validacion='Por favor ingrese el el nit.' invalido=errores.numero_contrato %}
                                                    </div>
                                                </div>
                                                <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="check_contribuyente_iyc_id" name="contibuyente_iyc" {% if proveedor_actec.contribuyente_iyc %}checked{% endif %}>
                                                        <label class="custom-control-label" for="check_contribuyente_iyc_id">Contribuyente Industria y Comercio</label>
                                                    </div><br>
                                                    <div id="div_contibuyente_iyc">
                                                        {% input_text_tag 'contribuyente_iyc' 'Contribuyente Industria y Comercio' placeholder="Ingrese un valor"  maxlength="100" value=proveedor_actec.contribuyente_iyc mensaje_validacion='Por favor ingrese el el nit.' invalido=errores.numero_contrato %}
                                                    </div>
                                                </div>
                                                {% if persona_juridica %}
                                                <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="check_entidad_publica_id" name="entidad_publica" {% if proveedor_actec.entidad_publica %}checked{% endif %}>
                                                        <label class="custom-control-label" for="check_entidad_publica_id">Entidad Pública</label>
                                                    </div><br>
                                                    <div id="div_entidad_publica">
                                                        {% select_tag entidades_publicas 'entidad_publica' 'Seleccione un opción' texto_label="Entidad Pública" value=proveedor_actec.entidad_publica mensaje_validacion='Por favor seleccione un departamento' %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        <div class="form-row justify-content-end">
                                             <div>
                                                <a href="{% url 'Administracion:proveedor-perfil' %}" class="btn btn-danger btn-pills btn-block">Cancelar</a>
                                            </div>
                                            <div class="pl-2">
                                                <button id="guardar" class="btn btn-primary btn-pills btn-block"> Guardar </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
	<script src="{% static 'EVA/Plantilla/js/custom/modificacionesSelect2.js' %}"></script>
    <script src="{% static 'Administracion/js/Tercero/actividadesEconomicas.js' %}"></script>
{% endblock scripts%}
