{% extends 'Administracion/_common/base_administracion.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %} Entidades Bancarias {% endblock %}</title>
{% block styles %}
<!-- DEMO related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{%static 'EVA/Plantilla/css/fa-brands.css' %}">
	<!-- page related CSS below -->
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
	<link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
{% endblock styles%}

{% block main %}
    <div class="panel-container show">
        <div class="header">
             <h1 class="header-title">
                 <i class='far fa-handshake'></i> Entidades Bancarias  <a class="far fa-arrow-circle-left"  href="{% url 'Administracion:proveedor-perfil' %}" data-toggle="tooltip" title="" data-original-title="Volver"></a>
                 <br>
                 <br>
             </h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10  col-lg-11 col-md-12">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <br>
                        <div class="col-md-10">
                            <small>
                                <a class="far fa-3x far fa-plus-circle" href="javascript:abrirModalGestionarEntidadBancaria('{% url 'Administracion:proveedor-perfil-entidad-bancaria-crear' %}', 'CREAR')"  data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Agregar Entidad Bancaria"></a>
                            </small>
                        </div>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered w-100" id="dataTable">
                                            <thead class="bg-primary-600">
                                                <tr>
                                                    <th>Tipo de Cuenta</th>
                                                    <th>Entidad Bancaria</th>
                                                    <th>Certificación Bancaria</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for eb in entidades_bancarias %}
                                                    <tr>
                                                        <td>{{ eb.tipo_cuenta}}</td>
                                                        <td>{{ eb.entidad_bancaria }}</td>
                                                        <td>
                                                            <a class="far fa-2x fa-custom fa-eye" style="text-decoration: none !important;" href="{% url 'Administracion:proveedor-perfil-ver-certificacion' eb.id %}" target="_blank" data-original-title="Ver" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title=""></a>
                                                        </td>
                                                        <td>
                                                          <a class="far fa-2x fa-edit" href="javascript:abrirModalGestionarEntidadBancaria('{% url 'Administracion:proveedor-perfil-entidad-bancaria-editar' eb.id %}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Editar"></a>
                                                          <a class="far fa-2x fa-trash-alt color-danger-900" id="eliminar_{{ eb.id }}" href="javascript:void(0);"  onclick="fConfirmarEliminar({{ eb.id }})" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Eliminar"></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="gestionar_entidad_bancaria" role="dialog"></div>
    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='administracion/proveedor/perfil/entidad-bancaria' %}
{% endblock main %}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
    <script src="{% static 'Administracion/js/confirmarEliminar.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/exportar_tabla.js' %}"></script>
	<script src="{% static 'EVA/Plantilla/js/custom/modificacionesSelect2.js' %}"></script>
	<script src="{% static 'Administracion/js/Tercero/entidadesBancarias.js' %}"></script>
    <script>
        $(document).ready(function() {
            iniciarTablaExportar([0, 1, 2]);
        });
    </script>
{% endblock scripts%}