{% extends 'Administracion/Autenticacion/_common/base_autenticacion.html' %}
{% load static %}
{% load eva_tags %}

{% block titulo %}
    Registro de Proveedores
{% endblock %}

{% block styles %}
<!-- DEMO related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{%static 'EVA/Plantilla/css/fa-brands.css' %}">
	<!-- page related CSS below -->
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/notifications/sweetalert2/sweetalert2.bundle.css'%}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
{% endblock styles%}

{% block main %}
    <div class="flex-1 fondo-autenticacion-proveedores">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
                <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
                    <div class="card p-4 rounded-plus bg-faded" style="justify-content: center">
                        <div class="card p-4 mt-1 rounded-plus bg-faded-white" style="justify-content: center">
                            <div style="display: flex; justify-content: center;">
                                <img src="{% static 'EVA/Plantilla/img/custom/logo-eva.svg' %}">
                            </div>
                            <br>
                            <div style="display: flex; justify-content: center;">
                                <h2 class="titulo-autenticacion">Registro de Proveedores</h2>
                            </div>
                            <form id="registro-proveedor-form" novalidate>
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        {% input_text_tag 'nombre' 'Nombre o Razón Social' placeholder="Ingrese el nombre o razón social" value=datos.nombre required="" maxlength="100" mensaje_validacion='Por favor digite el nombre' invalido=errores.nombre %}
                                    </div>
                                    <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        {% select_tag tipo_identificacion 'tipo_identificacion' 'Seleccione un tipo de identificación' texto_label="Tipo de identificación" value=proveedor.tipo_identificacion_id required="" mensaje_validacion='Por favor seleccione un tipo de identificación' invalido=errores.tipo_identificacion %}
                                    </div>
                                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                        {% input_text_tag 'identificacion' 'Identificación' placeholder='Ingrese el número de identificación' required='' maxlength='15' value=proveedor.identificacion mensaje_validacion='Por favor digite la identificación' invalido=errores.identificacion %}
                                    </div>
                                    <div class="form-group col-xl-2 col-lg-2 col-md-3 col-sm-3" style="display: none">
                                        {% input_number_tag 'digito_verificacion' 'DV' placeholder='Ingrese el DV' required='' min='0' max='9' value=proveedor.digito_verificacion mensaje_validacion='Por favor ingrese el digito de verificación' invalido=errores.digito_verificacion %}
                                    </div>
                                    <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        {% input_email_tag 'correo' 'Correo electrónico' placeholder="Ingrese el correo electrónico" value=datos.correo_principal required="" maxlength="100" mensaje_validacion='Por favor digite el correo electrónico' invalido=errores.correo  %}
                                    </div>
                                    <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        {% input_text_tag 'celular' 'Celular' placeholder="Ingrese el número de celular" value=datos.telefono_movil_principal required="" maxlength="30" mensaje_validacion='Por favor digite un número' invalido=errores.celular %}
                                    </div>
                                    <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        Al registrarse está aceptando nuestros términos y condiciones al igual que nuestra política de cofidencialidad y tratamiento de datos.
                                    </div>
                                    <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <a href="javascript:verPoliticaconFidencialidad()" >
                                            Ver Política de Cofidencialidad y Tratamiento de Datos
                                        </a>
                                    </div>
                                    <input id="datos_token" name="datos" hidden value="{{ datos }}">
                                    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <a href="{% url 'Administracion:proveedor-iniciar-sesion' %}" class="btn btn-danger btn-block">Cancelar</a>
                                    </div>
                                    <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <button id="js-login-btn" type="submit" class="btn btn-primary btn-block ">Registrarse</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="mt-4" style="display: flex; justify-content: center;">
                            <img src="{% static 'EVA/Plantilla/img/custom/logo-arios-blanco.svg' %}" style="width: 25%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="modal_terminos_condiciones" role="dialog"></div>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/modificacionesSelect2.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/ajaxDjango.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
    <script src="{% static 'Administracion/js/Tercero/registro.js' %}"></script>
    <script src="{% static 'Administracion/js/Tercero/validarDigitoVerificacion.js' %}"></script>
{% endblock scripts %}
