{% extends 'Administracion/Autenticacion/_common/base_autenticacion.html' %}
{% load static %}
{% load eva_tags %}

{% block titulo %}
    Registro de Proveedores
{% endblock %}

{% block styles %}
<!-- DEMO related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{%static 'EVA/Plantilla/css/fa-brands.css' %}">
	<!-- page related CSS below -->
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/notifications/sweetalert2/sweetalert2.bundle.css'%}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
{% endblock styles%}

{% block main %}
    <div class="flex-1" style="background: url('{% static 'EVA/Plantilla/img/svg/pattern-1.svg' %}') no-repeat center bottom fixed; background-size: cover ">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0" style="width: 40%; !important;">
            <div style="justify-content: center;">
                <div class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
                    <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                        <img src="{% static 'EVA/Plantilla/img/logo.png' %}" alt="EVA" aria-roledescription="logo">
                        <span class="page-logo-text mr-1">Registro de Proveedor</span>
                        <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
                    </a>
                </div>
                <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
                    <form id="registro-proveedor-form" novalidate>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                {% input_text_tag 'nombre' 'Nombre o Razón Social' placeholder="Ingrese el nombre o razón social" value=datos.nombre required="" maxlength="100" mensaje_validacion='Por favor digite el nombre' invalido=errores.nombre %}
                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
                               {% select_tag tipo_identificacion 'tipo_identificacion' 'Seleccione un tipo de identificación' texto_label="Tipo de Identificación" value=datos.tipo_identificacion_id required="" mensaje_validacion='Por favor seleccione un país' invalido=errores.tipo_identificacion %}
                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                {% input_text_tag 'identificacion' 'Número de Identificación' placeholder="Ingrese un número" value=datos.identificacion required="" maxlength="20" mensaje_validacion='Por favor digite un número' invalido=errores.identificacion mensaje_invalido=errores.identificacion %}
                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                {% input_email_tag 'correo' 'Correo electrónico' placeholder="Ingrese el correo electrónico" value=datos.correo_principal required="" maxlength="100" mensaje_validacion='Por favor digite el correo electrónico' invalido=errores.correo  %}
                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                {% input_text_tag 'celular' 'Celular' placeholder="Ingrese el número de celular" value=datos.telefono_movil_principal required="" maxlength="30" mensaje_validacion='Por favor digite un número' invalido=errores.celular %}
                            </div>
                            <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                Al registrarse está aceptando nuestros términos y condiciones al igual que nuestra política de cofidencialidad y tratamiento de datos.
                            </div>
                            <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <a href="{% url 'Administracion:proveedor-politica-cofidencialidad' %}" >
                                    Ver Política de Cofidencialidad y Tratamiento de Datos
                                </a>
                            </div>
                            <input id="datos_token" name="datos" hidden value="{{ datos }}">
                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <a href="{% url 'Administracion:proveedor-iniciar-sesion' %}" class="btn btn-danger btn-block">Cancelar</a>
                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <button id="js-login-btn" type="submit" class="btn btn-primary btn-block ">Registrarse</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/modificacionesSelect2.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/ajaxDjango.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
    <script src="{% static 'Administracion/js/Tercero/proveedor.js' %}"></script>
{% endblock scripts %}