{% load eva_tags %}
{% load static %}
<form id="actualizar_actividad_form" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
{% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-b-0">
                <h4 class="modal-title">
                    Actualizar Actividad: {{ actividad.nombre }}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <input hidden id="id_actividad" value="{{ actividad.id }}">
                <div class="form-group">
                    <div class="form-group">
                        <div id="fecha_avance_mostrar"  class="col-md-12">
                            {% input_date_tag 'fecha_avance' 'Fecha' placeholder="Seleccione la fecha del avance" value=actividad_fecha_finalizacion required="" autocomplete="off" mensaje_validacion='Por favor seleccione la fecha del avance.' %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="description_mostrar"   class="col-md-12">
                            {% input_textarea_tag 'descripcion' 'Descripción' placeholder="Ingrese una descripción" required="" maxlength="300" value=soporte_descripcion mensaje_validacion='Por favor ingrese una descripción.' invalido=errores.descripcion %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            {% input_number_tag 'tiempo_invertido' 'Tiempo Invertido (Horas)' placeholder="Ingrese el número de horas"  required=""  min="0" max="9999" step="0.01" value=''  mensaje_validacion='Por favor digite el número de horas' invalido=errores.horas %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            {% input_number_tag 'porcentaje' 'Porcentaje' placeholder="Ingrese el porcentaje del avance"  required="" type="number"  min="0" max="100" step="1" value=''  mensaje_validacion='Por favor digite el porcentaje en un número hasta 100 que no sea decimal' invalido=errores.porcentaje %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-pills">Cancelar</button>
                <button id="agregar" type="submit" class="btn btn-primary btn-pills"> Actualizar </button>
            </div>
        </div>
    </div>
</form>

