{% load eva_tags %}
{% load static %}
{% load humanize %}
<form id="actividad_form" method="post" class="needs-validation" novalidate>
{% csrf_token %}
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-b-0">
                <h4 class="modal-title">
                    {% if editar %} Editar Actividad: {{ actividad.nombre }}{% else %} Crear Actividad {% endif %}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                {% input_text_tag 'nombre' 'Nombre' placeholder="Ingrese un nombre" required="" maxlength="100"  value=actividad.nombre mensaje_validacion='Por favor digite un nombre para la actividad' invalido=errores.nombre %}
                            </div>
                            <div class="col-md-6">
                                {% select_tag colaboradores 'supervisor_id' 'Seleccione un supervisor' texto_label="Supervisor" value=actividad.supervisor_id required="" mensaje_validacion='Por favor seleccione un supervisor' invalido=errores.supervisor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                {% input_textarea_tag 'descripcion' 'Descripción' placeholder="Ingrese una descripción" required="" maxlength="300" value=actividad.descripcion mensaje_validacion='Por favor digite una descripción.' invalido=errores.descripcion %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                {% select_multiple_tag colaboradores 'responsables_id[]' 'responsables_id' 'Seleccione responsables' texto_label="Responsables" value="" required=""  mensaje_validacion='Por favor seleccione un responsable' multiple='multiple' invalido=errores.responsables%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group {% if actividad_modificada == True %} mt-0 mb-0 pt-0 pb-0 {% endif %} ">
                        <div class="row">
                            <div class="col-md-12">
                                {% input_date_tag 'fecha_inicio_fin' 'Fecha Inicio - Fecha Fin' placeholder="Seleccione las fechas de inicio y fin" class="form-control" value='' required="" mensaje_validacion='Por favor seleccione una fecha.' %}
                            </div>
                         </div>
                    </div>
                    {% if actividad_modificada == True %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                            {% if actividad.estado == EstadosModificacionActividad.RECHAZADA %}
                                {% if modificacion_actividad.fecha_inicio != actividad.fecha_inicio %}
                                    <a class="badge badge-danger text-white" > Fecha Inicio: Rechazada</a>
                                {% else %}
                                    <a class="badge badge-primary text-white" >Fecha Inicio: No modificada</a>
                                {% endif %}
                            {% endif %}
                            {% if actividad.estado == EstadosModificacionActividad.RECHAZADA %}
                                {% if modificacion_actividad.fecha_fin != actividad.fecha_fin %}
                                    <a class="badge badge-danger text-white" > Fecha Fin: Rechazada</a>
                                {% else %}
                                    <a class="badge badge-primary text-white" >Fecha Fin: No modificada</a>
                                {% endif %}
                            {% endif %}
                            {% if actividad.estado == EstadosModificacionActividad.PENDIENTE %}
                                {% if modificacion_actividad.fecha_inicio != actividad.fecha_inicio %}
                                    <a class="badge badge-warning text-white" > Fecha Inicio Actual: {{ modificacion_actividad.fecha_inicio|date:'Y-m-d' }}</a>
                                {% else %}
                                    <a class="badge badge-primary text-white" >Fecha Inicio: No modificada</a>
                                {% endif %}
                            {% endif %}
                            {% if actividad.estado == EstadosModificacionActividad.PENDIENTE %}
                                {% if modificacion_actividad.fecha_fin != actividad.fecha_fin %}
                                    <a class="badge badge-warning text-white" > Fecha Fin Actual: {{ modificacion_actividad.fecha_fin|date:'Y-m-d' }}</a>
                                {% else %}
                                    <a class="badge badge-primary text-white" >Fecha Fin: No modificada</a>
                                {% endif %}
                            {% endif %}
                            </div>
                         </div>
                    </div>
                    {% endif %}
                    <div class="form-group {% if actividad_modificada == True %} mt-0 mb-0 pt-0 pb-0 {% endif %}">
                        <div class="row">
                            <div class="col-md-6">
                                {% select_tag grupos 'grupo_asociado' 'Seleccione el grupo asociado' texto_label="Seleccione un grupo"  value=actividad.grupo_actividad_id %}
                            </div>
                            <div class="col-md-6">
                                {% input_number_tag 'tiempo_estimado' 'Tiempo Estimado (Horas)' placeholder="Ingrese el número de horas estimadas" required="" type="number"  min="0" max="9999" step="0.01" value=actividad.tiempo_estimado|intcomma:False mensaje_validacion='Por favor digite el número de horas' invalido=errores.tiempo_estimado %}
                            </div>
                        </div>
                    </div>
                    {% if actividad_modificada == True %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                            {% if actividad.estado == EstadosModificacionActividad.RECHAZADA %}
                                {% if modificacion_actividad.tiempo_estimado != actividad.tiempo_estimado %}
                                    <a class="badge badge-danger text-white" > Tiempo Estimado: Rechazado</a>
                                {% else %}
                                    <a class="badge badge-primary text-white" >Tiempo Estimado: No modificado</a>
                                {% endif %}
                            {% endif %}
                            {% if actividad.estado == EstadosModificacionActividad.PENDIENTE %}
                                 {% if modificacion_actividad.tiempo_estimado != actividad.tiempo_estimado %}
                                    <a class="badge badge-warning text-white" > Tiempo Estimado Actual: {{ modificacion_actividad.tiempo_estimado }} h</a>
                                 {% else %}
                                    <a class="badge badge-primary text-white" >Tiempo Estimado: No modificado</a>
                                 {% endif %}
                            {% endif %}
                            </div>
                         </div>
                    </div>
                    {% endif %}
                    {% if editar %}
                        <input id="responsables_actividad"  hidden value="{{ responsable_actividad }}">
                        {% if actividad_modificada == False %}
                            <div class="form-group">
                                <div class="row">
                                    <div id="motivo" class="col-md-12">
                                        {% input_textarea_tag 'motivo' 'Motivo' placeholder="Digite Motivo" value=actividad.motivo|default_if_none:"" required="" mensaje_validacion='Por favor digite el motivo.' %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="soporte_requerido"></label>
                                {% input_checkbox_tag 'soporte_requerido' 'Requiere Soportes' value=actividad.soporte_requerido  %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if ocultar_botones_modal == False %}
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-pills">Cancelar</button>
                <button id="agregar" type="submit" class="btn btn-primary btn-pills"> {% if editar %}Editar{% else %}Agregar{% endif %} </button>
            </div>
            {% endif %}
        </div>
    </div>
</form>

