{% extends menu_extendido %}
{% load eva_tags %}
{% load static %}
{% load humanize %}
<title>{% block titulo %}Flujo de Caja por Contratos{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
{% endblock styles %}

{% block main %}
    {% with REAL=0 PROYECCION=1 %}
    <div class="panel-container show">
        <div class="header">
             <h1 class="header-title">
                <i class="fal fa-usd-square"></i> Flujo de Caja por Contratos <span class='fw-300'></span>
                 <br>
                 <br>
             </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    {% if opciones %}
                    <div class="panel-hdr">
                        <div class="col-md-10"></div>
                        <div class="col-md-2" style="float: right">
                            {% select_tag opciones 'opcion_id' '' value=opcion %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="panel-container show">
                        <div class="panel-content">
                                <div class="panel-group">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered w-100" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Cliente</th>
                                                        <th>Número de contrato</th>
                                                        <th>Año</th>
                                                        <th>Fecha de suscripción</th>
                                                        <th>Fecha de inicio</th>
                                                        <th>Fecha de terminación</th>
                                                        <th>Valor</th>
                                                        <th>Tipo de contrato</th>
                                                        <th>Estado</th>
                                                        <th>Ver Flujo de Caja</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for contrato in contratos %}
                                                        <tr>
                                                            <td>{{ contrato.cliente}}</td>
                                                            <td>{{ contrato.numero_contrato }}</td>
                                                            <td>{{ contrato.anho}}</td>
                                                            <td>{{ contrato.fecha_suscripcion|date:'Y-m-d' }}</td>
                                                            <td>{{ contrato.fecha_inicio|date:'Y-m-d' }}</td>
                                                            <td>{{ contrato.fecha_terminacion|date:'Y-m-d' }}</td>
                                                            <td class="t-a-e">{{ contrato.valor|intcomma }}</td>
                                                            <td>{{ contrato.tipo_contrato }}</td>
                                                            <td><span class="badge badge-primary">{{ contrato.flujocajaencabezado_set.first.estado }}</span></td>
                                                            <td>
                                                                <a href="#" onclick="guardarRutaLocal('{% url 'Financiero:flujo-caja-contratos-detalle' contrato.id REAL fecha.year fecha.month %}')"><span class="badge badge-primary fw-300 ml-auto">Real</span><br></a>
                                                                <a href="#" onclick="guardarRutaLocal('{% url 'Financiero:flujo-caja-contratos-detalle' contrato.id PROYECCION fecha.year fecha.month %}')"><span class="badge badge-primary fw-300 ml-auto">Proyección</span></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/exportar_tabla.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/exportarTablas/exportarTablasFlujoCajaContratos.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/modificacionesSelect2.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/filtroFlujoCajaFinanciero.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/volverAtras.js' %}"></script>
{% endblock %}
