.divider_not {
  height: 0 !important;
  margin: 0.5rem 0 !important;
  overflow: hidden !important;
  border-top: 1px solid #f3f3f3 !important;
}

.titulo_ver_todas {
  margin-left: 20px;
  margin-top: 3%;
}

.estilo_ver_mas {
  margin-bottom: 1%;
  text-align: center;
}

.m-l-20 {
  margin-left: 20px;
}

.no-leido {
  background: #F2F1F1;
}