{% load eva_tags %}
{% load static %}
{% if opcion == 'editar' %}
    <form action="{% url 'Financiero:subtipo-movimiento-editar' sub_mov.id %}" id="subtipos-movimientos-form" method="post" class="needs-validation" novalidate>
{% else %}
    <form action="{% url 'Financiero:subtipo-movimiento-crear' %}" id="subtipos-movimientos-form" method="post" class="needs-validation" novalidate>
{% endif %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% if opcion == 'editar' %}Editar Subtipo de Movimiento{% else %}Crear Subtipo de Movimiento{% endif %}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>

            <div class="modal-body">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-12">
                        {% input_text_tag 'nombre' 'Nombre' placeholder="Ingrese el nombre" required="" maxlength="30" value=sub_mov.nombre mensaje_validacion='Por favor digite el nombre.' invalido=errores.nombre %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        {% input_textarea_tag 'descripcion' 'Descripción' placeholder="Ingrese una descripción" required="" maxlength="200" value=sub_mov.descripcion mensaje_validacion='Por favor digite una descripción.' invalido=errores.descripcion %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        {% select_tag tipos_movimientos 'tipo_movimiento_id' 'Seleccione un tipo de movimiento' texto_label="Tipo de Movimiento" value=sub_mov.tipo_movimiento_id required="" mensaje_validacion='Por favor seleccione un tipo de movimiento.' invalido=errores.tipo_movimiento %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        {% select_tag categorias_movimientos 'categoria_movimiento_id' 'Seleccione una categoría de movimiento' texto_label="Categoría de Movimiento" value=sub_mov.categoria_movimiento_id required="" mensaje_validacion='Por favor seleccione una categoría de movimiento.' invalido=errores.categoria_movimiento %}
                    </div>
                </div>
                <p class="mb-3">Aplica a:</p>
                <div class="contenedor-con-borde">
                    <div class="form-row">
                        <div class="col-12">
                            {% input_select_radio_tag 'solo_contrato_proceso' '' opciones=opciones_solo_contrato_proceso value=solo_contrato_proceso required="" mensaje_validacion='Por favor seleccione una opción' %}
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="form-group col-md-6">
                        {% input_checkbox_tag 'protegido' 'Protegido' value=sub_mov.protegido  %}
                    </div>
                    {% if opcion == 'editar' %}
                        <div class="form-groupcol-md-6">
                            {% input_checkbox_tag 'estado' 'Estado' value=sub_mov.estado  %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-pills">Cancelar</button>
                <button id="guardar" type="submit" class="btn btn-primary btn-pills">{% if opcion == 'editar' %} Actualizar {% else %} Agregar {% endif %}</button>
            </div>
        </div>
    </div>
</form>
