{% extends 'Proyectos/_common/base_proyectos.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}{% if opcion == 'editar' %} Editar Contrato {% else %} Crear Contrato {% endif %}{% endblock %}</title>
{% block styles %}
<!-- DEMO related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{%static 'EVA/Plantilla/css/fa-brands.css' %}">
	<!-- page related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
{% endblock styles%}

{% block main %}
    <div class="panel-container show">
        <div class="header">
             <h1 class="header-title">
                <i class='far fa-file-alt'></i> Contratos: <span class='fw-300'>{% if opcion == 'editar' %} Editar {% else %} Crear {% endif %}</span>
                 <br>
                 <br>
             </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    {% if error %}
                                        <div class="alert alert-danger alert-dismissible fade show">
                                            <strong>{{ error }}</strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    {% if opcion == 'editar' %}
                                    <form action="{% url 'Proyectos:contratos-editar' contrato.id %}" id="tercero" method="post" class="needs-validation" novalidate>
                                    {% else %}
                                    <form action="{% url 'Proyectos:contratos-crear' %}" id="tercero" method="post" class="needs-validation" novalidate>
                                    {% endif %}
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="form-row">
                                                 <div class="col-md-6">
                                                    {% select_tag terceros 'cliente_id' 'Seleccione un cliente' texto_label="Cliente" value=contrato.cliente.id required="" mensaje_validacion='Por favor seleccione un cliente.' invalido=errores.cliente %}
                                                  </div>
                                                <div class="col-md-6">
                                                    {% input_text_tag 'numero_contrato' 'Número de Contrato' placeholder="Ingrese el número de contrato" required="" maxlength="20" value=contrato.numero_contrato mensaje_validacion='Por favor digite el número de contrato.' invalido=errores.numero_contrato %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    {% select_tag rango_anho 'rango_anho' 'Seleccione un año' texto_label="Año" value=contrato.anho required="" mensaje_validacion='Por favor seleccione un año.' invalido=errores.anho %}
                                                </div>
                                                <div class="col-md-6">
                                                    {% input_text_tag 'supervisor_nombre' 'Nombre del Supervisor' placeholder="Ingrese el nombre del supervisor" required="" maxlength="100" value=contrato.supervisor_nombre mensaje_validacion='Por favor digite el nombre del supervisor.' invalido=errores.supervisor_nombre %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    {% input_text_tag 'supervisor_telefono' 'Teléfono del Supervisor' placeholder="Ingrese el número telefónico del supervisor" required="" maxlength="20" value=contrato.supervisor_telefono mensaje_validacion='Por favor digite el número telefónico del supervisor.' invalido=errores.supervisor_telefono %}
                                                </div>
                                                <div class="col-md-6">
                                                    {% input_email_tag 'supervisor_correo' 'Correo del Supervisor' placeholder="Ingrese el correo electrónico del supervisor" required="" maxlength="100" value=contrato.supervisor_correo mensaje_validacion='Por favor digite el correo electrónico del supervisor.' invalido=errores.supervisor_correo %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    {% select_tag residentes 'residente_id' 'Seleccione un residente' texto_label="Residente (Opcional)" value=contrato.residente mensaje_validacion='Por favor seleccione un residente.' invalido=errores.residente %}
                                                </div>
                                                <div class="col-md-6">
                                                    {% select_tag procesos 'proceso_id' 'Seleccione un proceso' texto_label="Proceso a Cargo" value=contrato.residente required="" mensaje_validacion='Por favor seleccione un residente.' invalido=errores.residente %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-row">
                                                 <div class="col-md-6">
                                                     {% input_date_tag 'fecha_suscripcion' 'Fecha de Suscripción' placeholder="Seleccione una fecha de suscripción" required="" autocomplete="off" value=contrato.fecha_suscripcion  mensaje_validacion='Por favor seleccione una fecha.' invalido=errores.fecha_suscripcion %}
                                                </div>
                                                <div class="col-md-6">
                                                    {% input_number_tag 'tiempo' 'Tiempo de Ejecución (Meses)' placeholder="Ingrese el tiempo" required="" min='0' max="1000" onInput="validarLongitud(3,this)" value=contrato.tiempo mensaje_validacion='Por favor digite el tiempo.' invalido=errores.tiempo %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    {% select_tag tipo_contratos 'tipo_contrato_id' 'Seleccione un tipo de contrato' texto_label="Tipo de Contrato" value=contrato.tipo_contrato_id required="" mensaje_validacion='Por favor seleccione un tipo de contrato.' invalido=errores.tipo_contrato %}
                                                </div>
                                                <div class="col-md-6">
                                                    {% input_number_tag 'valor' 'Valor del contrato' placeholder="Ingrese el valor del contrato" required="" min='0' max="99999999999" onInput="validarLongitud(11,this)" value=contrato.valor mensaje_validacion='Por favor digite el valor del contrato.' invalido=errores.valor %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div>
                                                <button id="agregar" class="btn btn-primary btn-block">{% if opcion == 'editar' %} Actualizar {% else %} Agregar {% endif %}</button>
                                            </div>
                                            <div style="padding-left: 15px">
                                                <a href="{% url 'Proyectos:contratos' %}" class="btn btn-danger btn-block">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'Proyectos/js/Contratos/date_picker.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
    <script>
		$(document).ready(function () {
		    $('.select2').select2();
		});
	</script>
{% endblock scripts %}
