{% load eva_tags %}
{% load static %}
 {% if contrato %}
    {% if opcion == 'editar' %}
        <form id="formAddMovimiento" action="{% url 'Financiero:flujo-caja-movimiento-editar' flujo_detalle.id %}" id="flujo-caja-contratos-form" method="post" class="needs-validation" novalidate>
    {% else %}
        <form id="formAddMovimiento" action="{% url 'Financiero:flujo-caja-contratos-crear' contrato.id tipo %}" id="flujo-caja-contratos-form" method="post" class="needs-validation" novalidate>
    {% endif %}
{% else %}
    {% if opcion == 'editar' %}
        <form id="formAddMovimiento" action="{% url 'Financiero:flujo-caja-movimiento-editar' flujo_detalle.id %}" id="flujo-caja-procesos-form" method="post" class="needs-validation" novalidate>
    {% else %}
        <form id="formAddMovimiento" action="{% url 'Financiero:flujo-caja-procesos-crear' proceso.id tipo %}" id="flujo-caja-procesos-form" method="post" class="needs-validation" novalidate>
    {% endif %}
{% endif %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% if opcion == 'editar' %}Editar Movimiento{% else %}Agregar Movimiento{% endif %}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">

                {% csrf_token %}
                <input id="valores" name="valores" type="hidden" value="vacio">

                <div class="form-row">
                    <div class="form-group col-12">
                        {% select_tag subtipos_movimientos 'subtipo_movimiento_id' 'Seleccione un subtipo de movimiento' agrupar=True texto_label="Subtipo de Movimiento" value=flujo_detalle.subtipo_movimiento_id required="" mensaje_validacion='Por favor seleccione un subtipo de movimiento.' invalido=errores.subtipo_movimiento %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        {% input_currency_tag 'valor' 'Valor' placeholder="Ingrese una Valor" required="" min="0.00" max="99999999999.99" step="0.01" value=flujo_detalle.valor mensaje_validacion='Por favor ingrese un valor.' invalido=errores.descripcion removeMaskOnSubmit=True %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        {% input_date_tag 'fecha_movimiento' 'Fecha de movimiento' placeholder="Seleccione una fecha" required="" autocomplete="off" value=flujo_detalle.fecha_movimiento  mensaje_validacion='Por favor seleccione una fecha.' invalido=errores.fecha_movimiento %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        {% input_textarea_tag 'comentarios' 'Comentarios' placeholder="(Opcional) Ingrese comentarios si aplica" maxlength="100" value=flujo_detalle.comentarios mensaje_validacion='Por favor ingrese los comentarios.' invalido=errores.comentarios %}
                    </div>
                </div>

                {% if opcion == 'editar' %}
                    <div class="form-row">
                        <div class="form-group col-12">
                            {% input_textarea_tag 'motivo' 'Motivo' placeholder="Ingrese el motivo de la edición" maxlength="100" required="" mensaje_validacion='Por favor ingrese el motivo.' invalido=errores.motivo %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-pills">Cancelar</button>
                <button id="guardar" type="submit" class="btn btn-primary btn-pills">{% if opcion == 'editar' %} Actualizar {% else %} Agregar {% endif %}</button>
            </div>
        </div>
    </div>
</form>
