{% extends 'GestionDocumental/_common/base_gestion_documental.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}Consecutivo de Oficios{% endblock %}</title>
{% block styles %}
    {% include 'EVA/_common/_statics/_tablas.html' with incCSS=True %}
    {% include 'EVA/_common/_statics/_select2.html' with incCSS=True %}
    {% include 'EVA/_common/_statics/_datepicker.html' with incCSS=True %}
{% endblock styles %}

{% block main %}

    <div class="panel-container show">
            <div class="header">
                 <h1 class="header-title">
                    <i class='fad fa-file-alt'></i> Consecutivo de Reuniones <span class='fw-300'></span>
                     <br>
                     <br>
                 </h1>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="panel-1" class="panel">
                        <div class="panel-hdr">
                            {% if perms.GestionDocumental.add_consecutivoreunion %}
                            <div class="col-md-10">
                                <small>
                                    <a class="fad fa-3x fad fa-plus-circle" href="javascript:abrirModalCrearReunion('{% url 'GestionDocumental:consecutivo-reuniones-crear'%}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Agregar consecutivo acta de reunion"></a>
                                </small>
                            </div>
                            {% else %}
                            <div class="col-md-10"></div>
                            {% endif %}
                            <div class="col-md-2" style="float: right" >
                                {% select_tag opciones_filtro 'filtro_consecutivos' '' value=id_filtro  %}
                            </div>
                            <input id="ruta_filtro_consecutivos" hidden value="/gestion-documental/consecutivo-reuniones/">
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                <div class="panel-group">
                                    <div class="panel-body">
                                        {% include 'EVA/_common/_busqueda_paginacion.html' %}
                                        <table class="table table-bordered w-100 table-sm" id="dataTable">
                                            <thead class="bg-primary-600">
                                                <tr>
                                                    <th data-priority="1">Código</th>
                                                    <th>Fecha de la Reunión</th>
                                                    <th>Tema de la Reunión</th>
                                                    <th class="min-tablet-l">Descripción de la Reunión</th>
                                                    <th class="min-desktop">Usuario</th>
                                                    <th class="min-desktop">Fecha de Creación</th>
                                                    <th class="none">Motivo Editar/Anular</th>
                                                    <th class="none">Fecha de Modificación</th>
                                                    <th class="min-desktop">Estado</th>
                                                    <th data-priority="2">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for consecutivo in consecutivos %}
                                                    <tr>
                                                        <td><span id="copiar_{{ consecutivo.id }}">{{ consecutivo.codigo }}</span>
                                                            <span><a class="fad fa-copy" href="javascript:void(0);"  onclick="copiarAPortapapeles('{{ consecutivo.codigo }}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Copiar"></a></span>
                                                        </td>
                                                        <td>{{ consecutivo.fecha | date:'Y-m-d' }}</td>
                                                        <td>{{ consecutivo.tema }}</td>
                                                        <td>{{ consecutivo.descripcion }}</td>
                                                        <td>{{ consecutivo.usuario_crea.username }}</td>
                                                        <td>{{ consecutivo.fecha_creacion | date:'Y-m-d' }}</td>
                                                        <td>{% if consecutivo.justificacion %}{{ consecutivo.justificacion }}{% endif %}</td>
                                                        <td>{% if consecutivo.justificacion %}{{ consecutivo.fecha_modificacion  | date:'Y-m-d H:i'}}{% endif %}</td>
                                                        <td>
                                                            {% if consecutivo.estado %}
                                                                <span class="badge badge-primary">Vigente</span>
                                                            {% else %}
                                                                <span class="badge badge-secondary">Anulado</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if perms.GestionDocumental.editar_consecutivocontrato and consecutivo.estado %}
                                                              <a class="fad fa-2x fa-file-edit" id="editar_{{ consecutivo.id }}" href="javascript:abrirModalCrearReunion('{% url 'GestionDocumental:consecutivo-reuniones-editar' consecutivo.id%}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Editar"></a>
                                                            {% endif %}
                                                            {% if perms.GestionDocumental.delete_consecutivoreunion and consecutivo.estado %}
                                                              <a class="fad fa-2x fa-trash-alt color-danger-900" id="eliminar_{{ consecutivo.id }}" href="javascript:void(0);"  onclick="fConfirmarEliminar({{ consecutivo.id }}, true)" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Eliminar"></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% include 'EVA/_common/_paginacion.html' with datos=consecutivos %}
                                    </div>
                                    <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='gestion-documental/consecutivo-reuniones' %}
    <div class="modal fade" tabindex="-1" id="crear-reunion" role="dialog"  aria-hidden="true"></div>

{% endblock %}
{% block scripts %}
    {% include 'EVA/_common/_statics/_tablas.html' %}
    {% include 'EVA/_common/_statics/_select2.html' %}
    {% include 'EVA/_common/_statics/_datepicker.html'%}
    <script src="{% static 'Administracion/js/confirmarEliminar.js' %}"></script>
    <script src="{% static 'GestionDocumental/js/filtro_consecutivos.js' %}"></script>
    <script src="{% static 'GestionDocumental/js/consecutivos_reuniones.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/controlBusquedaPaginacion.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
{% endblock %}
