{% extends 'GestionDocumental/_common/base_gestion_documental.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}Consecutivo de Oficios{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">

{% endblock styles %}

{% block main %}

    <div class="panel-container show">
            <div class="header">
                 <h1 class="header-title">
                    <i class='far fa-file-alt'></i> Consecutivo de Reuniones <span class='fw-300'></span>
                     <br>
                     <br>
                 </h1>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="panel-1" class="panel">

                        <div class="panel-hdr">
                            {% if perms.GestionDocumental.add_consecutivoreunion %}
                            <div class="col-md-12">
                                <small>
                                    <a class="far fa-3x far fa-plus-circle" href="javascript:abrirModalCrearReunion('{% url 'GestionDocumental:consecutivo-reuniones-crear'%}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Agregar consecutivo acta de reunion"></a>
                                </small>
                            </div>
                            {% else %}
                            <div class="col-md-12"></div>
                            {% endif %}
                            <div class="col-md-2" style="float: right" >
                                {% select_tag opciones_filtro 'filtro_consecutivos' '' value=id_filtro  %}
                            </div>
                            <input id="ruta_filtro_consecutivos" hidden value="/gestion-documental/consecutivo-reuniones/">
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                <div class="panel-group">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            {% include 'EVA/_common/_busqueda_paginacion.html' %}
                                            <table class="table table-bordered w-100" id="dataTableConsecutivos">
                                                <thead class="bg-primary-600">
                                                    <tr>
                                                        <th class="min-w-50">Código</th>
                                                        <th class="min-w-50">Fecha de la Reunión</th>
                                                        <th class="min-w-200">Tema de la Reunión</th>
                                                        <th>Descripción</th>
                                                        <th>Usuario</th>
                                                        <th>Fecha</th>
                                                        <th>Estado</th>
                                                        <th>Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for consecutivo in consecutivos %}
                                                        <tr>
                                                            <td>{{ consecutivo.codigo }}</td>
                                                            <td>{{ consecutivo.fecha | date:'Y-m-d' }}</td>
                                                            <td>{{ consecutivo.tema }}</td>
                                                            <td>{{ consecutivo.descripcion }}</td>
                                                            <td>{{ consecutivo.usuario.get_full_name }}</td>
                                                            <td>{{ consecutivo.fecha_crea | date:'Y-m-d' }}</td>
                                                            <td>
                                                                {% if consecutivo.estado %}
                                                                    <span class="badge badge-primary">Vigente</span>
                                                                {% else %}
                                                                    <span class="badge badge-secondary">Anulado</span>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% if perms.GestionDocumental.delete_consecutivoreunion and consecutivo.estado %}
                                                                  <a class="far fa-2x fa-trash-alt color-danger-900" id="eliminar_{{ consecutivo.id }}" href="javascript:void(0);"  onclick="fConfirmarEliminar({{ consecutivo.id }}, true)" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Eliminar"></a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            {% include 'EVA/_common/_paginacion.html' with datos=consecutivos %}
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='gestion-documental/consecutivo-reuniones' %}
    <div class="modal fade" tabindex="-1" id="crear-reunion" role="dialog"  aria-hidden="true"></div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'Administracion/js/confirmarEliminar.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'GestionDocumental/js/filtro_consecutivos.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/modificacionesSelect2.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/controlBusquedaPaginacion.js' %}"></script>
    <script src="{% static 'GestionDocumental/js/configurar_modales.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/date_picker.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/funcionesGenerales.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>

{% endblock %}
