{#{% extends 'EVA/_common/base.html' %}#}
{% extends 'administracion/base_administracion.html' %}
{% load static %}
<title>{% block titulo %}Tercero{% endblock %}</title>
{% block main %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <a class="btn btn-primary" href="{% url 'Administracion:tercero-crear' %}">Agregar Tercero</a>
            <br>
            <br>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>Terceros</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Identificación</th>
                                    <th>Tipo de identificación</th>
                                    <th>Estado</th>
                                    <th>Empresa</th>
                                    <th>Fecha de creación</th>
                                    <th>Fecha de modificación</th>
                                    <th>Tipo tercero</th>
                                    <th>Centro poblado</th>
                                    <th>Acción</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for tercero in terceros %}
                                    <tr>
                                        <td>{{ tercero.nombre }}</td>
                                        <td>{{ tercero.identificacion}}</td>
                                        <td>{{ tercero.tipo_identificacion}}</td>

                                        <td>
                                            <input type="checkbox" disabled {% if tercero.estado %}checked{% endif %}>
                                        </td>
                                        <td>{{ tercero.empresa }}</td>
                                        <td>{{ tercero.fecha_creacion }}</td>
                                        <td>{{ tercero.fecha_modificacion }}</td>
                                        <td>{{ tercero.tipo_tercero }}</td>
                                        <td>{{ tercero.centro_poblado }}</td>
                                      <td>

                                            <a href="{% url 'Administracion:tercero-editar' tercero.id %}" class="btn btn-info">Editar</a>


                                            <button class="btn btn-danger" id="eliminar_{{ tercero.id }}" type="button" onclick="fConfirmarEliminar({{ tercero.id }})">Eliminar</button>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
            </div>
        </div>
    </div>
    {% include '_elements/_modal_confirmar_eliminar.html' with objeto='administracion/tercero' %}
{% endblock %}
{% block scripts %}
<script src="{% static 'EVA/Plantilla/General/confirmarEliminar.js' %}"></script>
{% endblock %}