{% load eva_tags %}
{% load static %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Cargar archivo al documento {{ documento }}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'sgi:documentos-cargar' proceso.id  grupo_documento.id documento.id %}" id="empresas-form" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            {% input_text_tag 'nombre' 'Nombre' placeholder="Ingrese el nombre" required="" maxlength="100" value=archivo.nombre mensaje_validacion='Por favor digite el nombre.' invalido=errores.nombre %}
                        </div>
                        <div class="col-md-6">
                            {% input_text_tag 'ruta' 'Ruta' placeholder="Ingrese la ruta del archivo" required="" maxlength="100" value=archivo.ruta mensaje_validacion='Por favor digite la ruta del archivo' invalido=errores.ruta %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            {% input_date_tag 'fecha' 'Fecha' placeholder="Seleccione una fecha" required="" autocomplete="off" value=archivo.fecha  mensaje_validacion='Por favor seleccione una fecha' invalido=errores.fecha %}
                        </div>
                        <div class="col-md-6">
                            {% input_text_tag 'hash' 'Hash' placeholder="Ingrese el nit de la empresa" required="" maxlength="20" value=empresa.nit mensaje_validacion='Por favor digite el nit de la empresa' invalido=errores.nit %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            {% input_text_tag 'notas' 'Notas' placeholder="Digite una nota" required="" maxlength="100" value=archivo.notas mensaje_validacion='Por favor ingrese una nota' invalido=errores.notas %}
                        </div>
                        <div class="col-md-6">
                            {% input_file_tag 'archivo' 'Archivo' placeholder="Seleccione un archivo" class='custom-file-input'  invalido=errores.logo accept="image/png, .jpeg, .jpg, image/gif, .pdf"  %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div >
                        <button id="guardar" type="submit" class="btn btn-primary btn-block"> Cargar </button>
                    </div>
                    <div style="padding-left: 15px">
                        <button data-dismiss="modal" class="btn btn-danger btn-block">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>