{% extends 'SGI/_common/base_sgi.html'  %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %} Documentos {% endblock %}</title>

{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-brands.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-solid.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/notifications/sweetalert2/sweetalert2.bundle.css'%}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="mask-icon" href="{% static 'EVA/Plantilla/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/miscellaneous/treeview/treeview.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'SGI/css/icono_documento.css' %}">
{% endblock styles %}

{% block main %}
    <div class="panel-container show">
        <div class="header">
            <h1 class="header-title">
                <i class='far fa-file-alt'></i> Documentos <span class='fw-300'></span>
                <br>
                <br>
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="tree">
                                <ul>
                                    {% for grupo_documento in grupo_documentos %}
                                        <li>
                                            <span><i class="fa fa-lg fa-file-alt"></i> {{ grupo_documento }}</span>
                                            <ul>
                                                {% for documento in documentos %}
                                                    {% if documento.grupo_documento_id == grupo_documento.id %}
                                                        <li style="display: none">
                                                            <div class="row" style="padding-left: 12px">
                                                                <div class="">
                                                                    <div id="panel-1" class="panel">
                                                                        <div class="panel-container show">
                                                                            <div class="panel-content">
                                                                                 {{ documento.nombre }}
                                                                                <a class="far fa-custom fa-eye" style="padding-left: 10px"   href="" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Ver"></a>
                                                                                <a class="far fa-custom fa-list-alt" style="padding-left: 10px"   href="" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Historial"></a>
                                                                                <a class="far fa-custom fa-long-arrow-alt-up" style="padding-left: 10px"   href="" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Cargar archivo"></a>
                                                                                <a class="far fa-custom fa-edit" style="padding-left: 10px"   href="" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Editar"></a>
                                                                                <a class="far fa-custom fa-trash-alt color-danger-900" style="padding-left: 10px"   href="" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Eliminar"></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='talento-humano/colaboradores' %}
{% endblock main%}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/confirmarEliminarColaborador.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/ajaxDjango.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/filtro_entidad.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/miscellaneous/treeview/treeview.js' %}"></script>

    <script>
        $(document).ready(function()
        {

            $('input[type=radio][name=contactview]').change(function()
            {
                if (this.value == 'grid')
                {
                    $('#js-contacts .card').removeClassPrefix('mb-').addClass('mb-g');
                    $('#js-contacts .col-xl-12').removeClassPrefix('col-xl-').addClass('col-xl-4');
                    $('#js-contacts .js-expand-btn').addClass('d-none');
                    $('#js-contacts .card-body + .card-body').addClass('show');

                }
                else if (this.value == 'table')
                {
                    $('#js-contacts .card').removeClassPrefix('mb-').addClass('mb-1');
                    $('#js-contacts .col-xl-4').removeClassPrefix('col-xl-').addClass('col-xl-12');
                    $('#js-contacts .js-expand-btn').removeClass('d-none');
                    $('#js-contacts .card-body + .card-body').removeClass('show');
                }

            });

            //initialize filter
            initApp.listFilter($('#js-contacts'), $('#js-filter-contacts'));
        });
        $(document).ready(function () {
            $('.select2').select2();
        });

    </script>
{% endblock scripts%}
