{% extends 'SGI/_common/base_sgi.html'  %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %} Documentos {% endblock %}</title>

{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-brands.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-solid.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="mask-icon" href="{% static 'EVA/Plantilla/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/miscellaneous/treeview/treeview.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'SGI/css/icono_documento.css' %}">
     <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
{% endblock styles %}

{% block main %}
    <div class="panel-container show">
        <div class="header">
            <h1 class="header-title">
                <i class='far fa-file-alt'></i> {{ proceso }} / Documentos <span class='fw-300'></span>
                <br>
                <br>
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="tree">
                                <ul>
                                    {% for grupo_documento in grupo_documentos %}
                                        <li>
                                            <span class="col-md-4"><i class="fa fa-lg fa-file-alt"></i> {{ grupo_documento.nombre }}</span>
                                            {% if grupo_documento.solo_proceso or perms.TalentoHumano.can_gestioncompletasgi or not grupo_documento.solo_proceso and proceso == colaborador.proceso %}
                                                {% if not perms.TalentoHumano.can_gestioncompletasgi %}
                                                    {% for pro in grupo_documento.proceso %}
                                                        {% if pro == colaborador.proceso %}
                                                            {% include 'SGI/documentos/BotonesGestion/botonCrearDocumento.html' %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    {% include 'SGI/documentos/BotonesGestion/botonCrearDocumento.html' %}
                                                {% endif %}
                                                {% if not grupo_documento.solo_proceso and proceso == colaborador.proceso and not perms.TalentoHumano.can_gestioncompletasgi %}
                                                    {% include 'SGI/documentos/BotonesGestion/botonCrearDocumento.html' %}
                                                {% endif %}
                                            {% endif %}

                                            <ul>
                                                {% for documento in documentos %}
                                                    {% if documento.grupo_documento_id == grupo_documento.id %}
                                                        <li style="display: none">
                                                            <div class="row p-l-12">
                                                                <div>
                                                                    <div id="panel-1" class="panel" style="display: table-header-group;">
                                                                        <div class="panel-container show w-500">
                                                                            <div class="panel-content">
                                                                                <div class="row">
                                                                                    <div class="col-md-7">
                                                                                    {{ documento }}
                                                                                    </div>
                                                                                    <div class="col-md-5 p-r-10" style="text-align: end">
                                                                                        {%  if perms.SGI.view_archivo %}
                                                                                        <a class="far fa-custom fa-eye" style="text-decoration: none !important;" {% for archivo in archivos %}{% if documento == archivo.documento %}href="{% url 'sgi:documentos-ver' archivo.id  %}" target="_blank" data-original-title="Ver" {% endif %}{% endfor %} data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title=""></a>
                                                                                        {% endif %}
                                                                                        {% if perms.TalentoHumano.view_historial %}
                                                                                        <a class="far fa-custom fa-list-alt p-l-10" {% for hst in historial %}{% if hst.documento == documento %} id="hst_{{ documento.id }}" href="javascript:arbolDocumentos('doc_{{ documento.id }}', 'hst_{{ documento.id }}')" data-original-title="Historial"{% endif %}{% endfor %} data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title=""></a>
                                                                                        {% endif %}
                                                                                        {% if perms.SGI.view_cadenaaprobacionencabezado %}
                                                                                        <a class="far fa-custom fa-link p-l-10" id="cadena_{{ documento.id }}" {% if documento.cadena_aprobacion %}href="javascript:abrir_modal_detalle_cadena_aprobacion('{% url 'sgi:cadenas-aprobacion-detalle' documento.cadena_aprobacion_id %}')" {% endif %} data-original-title="Ver Cadena de Aprobación" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title=""></a>
                                                                                        {% endif %}
                                                                                        {% if grupo_documento.solo_proceso or perms.TalentoHumano.can_gestioncompletasgi or not grupo_documento.solo_proceso and proceso == colaborador.proceso %}
                                                                                            {% if not perms.TalentoHumano.can_gestioncompletasgi %}
                                                                                                {% for pro in grupo_documento.proceso %}
                                                                                                    {% if pro == colaborador.proceso %}
                                                                                                        {% include 'SGI/documentos/BotonesGestion/botonesGestionSGI.html' %}
                                                                                                    {% endif %}
                                                                                                {% endfor %}
                                                                                            {% else %}
                                                                                                {% include 'SGI/documentos/BotonesGestion/botonesGestionSGI.html' %}
                                                                                            {% endif %}
                                                                                            {% if not grupo_documento.solo_proceso and proceso == colaborador.proceso and not perms.TalentoHumano.can_gestioncompletasgi %}
                                                                                                {% include 'SGI/documentos/BotonesGestion/botonesGestionSGI.html' %}
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% if perms.TalentoHumano.view_historial %}
                                                            <ul id="doc_{{ documento.id }}" class="p-l-11" style="display: none;">
                                                                {% for hst in historial %}
                                                                    {% if hst.documento == documento %}
                                                                        <li>
                                                                            <div class="row p-l-12">
                                                                                <div class="w-500">
                                                                                    <div>
                                                                                        <div id="panel-1" class="panel" style="display: table-header-group;">
                                                                                            <div class="panel-container show w-500">
                                                                                                <div class="panel-content">
                                                                                                     <div class="row">
                                                                                                        <div class="col-md-9">
                                                                                                             {{ hst.nombre_documento }} <span class="{% if hst.estado.id == estado.APROBADO %}badge badge-primary {% elif hst.estado.id == estado.RECHAZADO %} badge border border-danger text-danger {% else %} badge border border-primary text-primary {% endif %}" style="font-size: 70%">{{ hst.estado }}</span>
                                                                                                        </div>
                                                                                                        <div class="col-md-3 p-r-10" style="text-align: end">
                                                                                                           {% if grupo_documento.solo_proceso or perms.TalentoHumano.can_gestioncompletasgi or not grupo_documento.solo_proceso and proceso == colaborador.proceso %}
                                                                                                                {% if not perms.TalentoHumano.can_gestioncompletasgi %}
                                                                                                                    {% for pro in grupo_documento.proceso %}
                                                                                                                        {% if pro == colaborador.proceso %}
                                                                                                                            {% include 'SGI/documentos/BotonesGestion/botonesArchivoEliminar.html' %}
                                                                                                                        {% endif %}
                                                                                                                    {% endfor %}
                                                                                                                {% else %}
                                                                                                                    {% include 'SGI/documentos/BotonesGestion/botonesArchivoEliminar.html' %}
                                                                                                                {% endif %}
                                                                                                                {% if not grupo_documento.solo_proceso and proceso == colaborador.proceso and not perms.TalentoHumano.can_gestioncompletasgi %}
                                                                                                                    {% include 'SGI/documentos/BotonesGestion/botonesArchivoEliminar.html' %}
                                                                                                                {% endif %}
                                                                                                           {% endif %}
                                                                                                            <a class="far fa-custom fa-caret-square-down p-l-10" id="det_{{ hst.id }}" href="javascript:arbolDocumentos('arc_{{ hst.id }}', 'det_{{ hst.id }}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Detalles"></a>
                                                                                                        </div>
                                                                                                     </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        <ul id="arc_{{ hst.id }}" class="p-l-11" style="display: none;">
                                                                            <li>
                                                                                <div class="row p-l-12">
                                                                                    <div class="w-500">
                                                                                        <div id="panel-1" class="panel">
                                                                                            <div class="panel-container show w-500">
                                                                                                <div class="panel-content">
                                                                                                    <h5>
                                                                                                        <small class="mt-0 mb-1 text-muted">
                                                                                                            <b>Cargado Por: </b> {{ hst.usuario.get_full_name }}
                                                                                                        </small>
                                                                                                        <small class="mt-0 mb-1 text-muted">
                                                                                                            <b>Fecha del Documento: </b> {{ hst.fecha_documento }}
                                                                                                        </small>
                                                                                                        <small class="mt-0 mb-1 text-muted">
                                                                                                            <b>Versión: </b> {{ hst.version }}
                                                                                                        </small>
                                                                                                        <small class="mt-0 mb-1 text-muted">
                                                                                                            <b>Notas: </b> {{ hst.notas }}
                                                                                                        </small>
                                                                                                        <small class="mt-0 mb-1 text-muted">
                                                                                                            <b>Estado del Documento: </b> {{ hst.estado }}
                                                                                                        </small>
                                                                                                    </h5>
                                                                                                    {% if hst.cadena_aprobacion %}
                                                                                                    <br>
                                                                                                    <h4>Resultados de Aprobación</h4>
                                                                                                        {% for res in resultados %}
                                                                                                            {% if res.archivo.id == hst.id %}
                                                                                                                <h5 class="p-l-10">
                                                                                                                    <small class="mt-0 mb-1 text-muted">
                                                                                                                        <b>Colaborador: </b> {{ res.usuario.get_full_name }}
                                                                                                                    </small>
                                                                                                                    <small class="mt-0 mb-1 text-muted">
                                                                                                                        <b>Estado: </b> {{ res.estado }}
                                                                                                                    </small>
                                                                                                                    <small class="mt-0 mb-1 text-muted" style="overflow: hidden">
                                                                                                                        <b>Comentarios: </b> {{ res.comentario }}
                                                                                                                    </small>
                                                                                                                </h5>
                                                                                                                <br>
                                                                                                            {% endif %}
                                                                                                        {% endfor %}
                                                                                                    {% endif %}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="cargar" role="dialog"></div>
    <div class="modal fade" tabindex="-1" id="detalle_cadena_aprobacion" role="dialog"></div>

    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' %}
{% endblock main%}

{% block scripts %}
    <script src="{% static 'SGI/js/confirmarEliminarSGI.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/miscellaneous/treeview/treeview.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js'%}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
    <script src="{% static 'SGI/js/modalCargarArchivo.js' %}"></script>
    <script src="{% static 'SGI/js/arbolDocumentos.js' %}"></script>
    <script src="{% static 'SGI/js/modalDetalleCadenaAprobacion.js' %}"></script>
{% endblock scripts%}
