{% extends 'Administracion/Autenticacion/_common/base_autenticacion.html' %}
{% load static %}

{% block titulo %}
    Cambio de contraseña
{% endblock %}

{% block main %}
    <div class="flex-1" style="background: url('{% static 'EVA/Plantilla/img/svg/pattern-1.svg' %}') no-repeat center bottom fixed; background-size: cover ">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-4"></div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
                        Secure login
                    </h1>
                    <div class="card p-4 rounded-plus bg-faded" style="justify-content: center">
                        <div style="display: flex; justify-content: center;">
                            <img src="{% static 'EVA/Plantilla/img/logo-arios-tr.png' %}" style="width: 80%">
                        </div>
                        <br>
                        {% if validlink %}
                            <form action="" method="post" class="needs-validation" novalidate>
                                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                {{ form.new_password1.errors }}
                                <div class="form-group">
                                    <label class="id_new_password1" for="usuario">Contraseña</label>
                                    <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="Digite la contraseña"  required>
                                    <div class="invalid-feedback">Por favor digite la contraseña</div>
                                </div>
                                {{ form.new_password2.errors }}
                                <div class="form-group">
                                    <label class="id_new_password2" for="contraseña">Confirmación de Contraseña</label>
                                    <input type="password" id="id_new_password2" name="new_password2" class="form-control form-control-lg" placeholder="Confirme la contraseña"  required style="font-size: 0.8125rem;">
                                    <div class="invalid-feedback">Por favor digite la contraseña</div>
                                </div>
                                <div class="row no-gutters" style="justify-content: center">
                                    <div class="col-lg-8 pl-lg-1 my-2">
                                        <button id="js-login-btn" type="submit" class="btn btn-danger btn-block">Cambiar contraseña</button>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <h1 style="text-align: center">Se ha presentado un error.</h1>
                            <p style="text-align: center">El enlace para el cambio de contraseña no es válido, posiblemente ya fue usado. <br />
                                Por favor comuníquese con Arios Ingeniería SAS.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#js-login-btn").click(function(event)
        {
            // Fetch form to apply custom Bootstrap validation
            let form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.addClass('was-validated');
        });
    </script>>
{% endblock %}
