{% extends 'Administracion/Autenticacion/_common/base_autenticacion.html' %}
{% load static %}

{% block titulo %}
    Confirmación de cambio de contraseña
{% endblock %}

{% block main %}
    <div class="flex-1" style="background: url('{% static 'EVA/Plantilla/img/svg/pattern-1.svg' %}') no-repeat center bottom fixed; background-size: cover ">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-4"></div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
                        Secure login
                    </h1>
                    <div class="card p-4 rounded-plus bg-faded" style="justify-content: center">
                        <div style="display: flex; justify-content: center;">
                            <img src="{% static 'EVA/Plantilla/img/logo-arios-tr.png' %}" style="width: 80%">
                        </div>
                        <br><br>
                            <h4 style="text-align: center">La contraseña se cambió con éxito</h4>
                             <a style="text-align: center" href="{% url 'Administracion:terminar-sesion' %}" >Ir a la página para inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
