{% extends 'Administracion/_common/base_administracion.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}{% if opcion == 'editar' %}Editar Empresas{% else %} Crear Empresas {% endif %}{% endblock %}</title>
{% block styles %}
<!-- DEMO related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{%static 'EVA/Plantilla/css/fa-brands.css' %}">
	<!-- page related CSS below -->
	<link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
{% endblock styles%}

{% block main %}
    <div class="panel-container show">
        <div class="header">
             <h1 class="header-title">
                <i class='far fa-briefcase'></i> Empresas: <span class='fw-300'>{% if opcion == 'editar' %} Editar {% else%} Crear {% endif %}</span>
                 <br>
                 <br>
             </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                     {% if opcion == 'editar' %}
                                    <form action="{% url 'Administracion:empresas-editar' empresa.id %}" id="empresas-form" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                                     {% else %}
                                    <form action="{% url 'Administracion:empresas-crear' %}" id="empresas-form" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                                     {% endif %}
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    {% input_text_tag 'nombre' 'Nombre' placeholder="Ingrese el nombre" required="" maxlength="100" value=empresa.nombre mensaje_validacion='Por favor digite el nombre.' invalido=errores.nombre %}
                                                </div>
                                                <div class="col-md-6">
                                                    {% input_text_tag 'nit' 'NIT' placeholder="Ingrese el nit de la empresa" required="" maxlength="20" value=empresa.nit mensaje_validacion='Por favor digite el nit de la empresa' invalido=errores.nit %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    {% input_file_tag 'logo' 'Logo de la Empresa' placeholder="Seleccione el logo de la Empresa" class='custom-file-input'  invalido=errores.logo accept="image/png, .jpeg, .jpg, image/gif"  %}
                                                </div>
                                            </div>
                                        </div>
                                        {% if opcion == 'editar' %}
                                             <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        {% input_checkbox_tag 'estado' 'Estado' value=empresa.estado  %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="form-row">
                                            <div >
                                                <button id="guardar" class="btn btn-primary btn-block">{% if opcion == 'editar' %} Actualizar {% else %} Agregar {% endif %}</button>
                                            </div>
                                            <div style="padding-left: 15px">
                                                <a href="{% url 'Administracion:empresas' %}" class="btn btn-danger btn-block">Cancelar</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'Administracion/js/select_divipol.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
	<script>
		$(document).ready(function () {
		    $('.select2').select2();
		});
	</script>
{% endblock scripts%}
