<nav aria-label="Paginado">
     {% with parametro=datos.nombre_parametro|default:'page' %}
    <ul class="pagination justify-content-center">
        {% if datos.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{{ parametro }}={{ datos.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true"><i class="fal fa-chevron-left"></i></span>
                </a>
            </li>
        {% endif %}

        {% for pag in datos.num_paginacion %}
            {% if datos.number != pag %}
                <li class="page-item {% if pag == '...' %}disabled{% endif %}"><a class="page-link" href="?{{ parametro }}={{ pag }}{% if buscar %}&search={{ buscar }}{% endif %}">{{ pag }}</a></li>
            {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?{{ parametro }}={{ pag }}{% if buscar %}&search={{ buscar }}{% endif %}">{{ pag }} <span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
        {% endfor %}

        {% if datos.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{{ parametro }}={{ datos.next_page_number }}{% if buscar %}&search={{ buscar }}{% endif %}" aria-label="Siguiente">
                    <span aria-hidden="true"><i class="fal fa-chevron-right"></i></span>
                </a>
            </li>
        {% endif %}
    </ul>
    {% endwith %}
</nav>
{% if buscar %}
    Mostrando {{ coincidencias }} coincidencias de {{ total }} registros.
{% endif %}