{% load static %}
{% load eva_tags %}
<div class="col-xl-3">
    <div id="div_{{ permiso.id }}" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="{{ permiso.nombre | lower }}">
        <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
            <div class="form-row">
                <div class="col-md-10">
                    <a href="javascript:void(0);" class="card-title"><strong>{{ permiso.nombre }}</strong></a>
                </div>
                <div class="col-md-2" style="">
                    <div class="custom-control custom-switch" style="float: right;">
                        <div class="custom-control custom-checkbox">
                            {% for func in funcionalidades %}
                                <input type="checkbox" value="{{ permiso.funcionalidad }}" id="permiso_{{ permiso.funcionalidad }}_id" onclick="activarFuncionalidad('permiso_' + {{ permiso.funcionalidad }} + '_id')" {% if func.content_type_id == permiso.funcionalidad %} checked {% endif %}name="permisos" class="custom-control-input form-control">
                            {% endfor %}
                            <label for="permiso_{{ permiso.funcionalidad }}_id" class="custom-control-label no-seleccionable"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0 collapse show">
            <div class="p-2">
                <a  class="mt-1 d-block fs-sm fw-400 text-dark">
                   <strong>Descripción:</strong>
                    <i class="text-muted"></i>  {{ permiso.descripcion }}
                    {% for perm in permiso.permisos %}
                    <div class="form-row">
                        <div class="col-md-10">
                            <a href="javascript:void(0);"><strong>{{ perm.nombre }}</strong></a>
                        </div>
                        <div class="col-md-2" style="">
                            <div class="custom-control custom-switch" style="float: right;">
                                <div class="custom-control custom-checkbox">
                                    {% for permiso_usuario in permisos_usuario %}
                                        <input type="checkbox" value="{{ perm.id }}" id="accion_{{ perm.id }}_permiso_{{ permiso.funcionalidad }}_id" {% if permiso_usuario.id == perm.id %} checked {% endif %} name="permisos" class="custom-control-input form-control">
                                    {% endfor %}
                                    <label for="accion_{{ perm.id }}_permiso_{{ permiso.funcionalidad }}_id" class="custom-control-label no-seleccionable"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </a>
            </div>
        </div>
    </div>
</div>