{% extends 'TalentoHumano/_common/base_talento_humano.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}{% if OPCION == 'por_contratos' %} Colaboradores vinculados al contrato {{ colaborador.contrato }}{% else %} Colaboradores{% endif %}{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-brands.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-solid.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'Notificaciones/css/asignacion.css' %}">
{% endblock styles %}

{% block main %}
    <div class="panel-container show">
        <div class="header">
            <h1 class="header-title">
                <i class='far fa-bell'></i> Asignar Permisos A:  {{ usuario.get_full_name }} <span class='fw-300'></span>
                <br>
                <br>
            </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <form action="{% url 'TalentoHumano:colaboradores-permisos' usuario.id id_filtro %}" id="asignacion-permisos-form" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                        <input id="datos_permisos" name="datos_permisos" value="{{ datos_permisos }}" style="display: none">
                        <input id="valores_permisos" name="valores_permisos" style="display: none">
                        <input id="id_usuario" value="{{ usuario.id }}" style="display: none">
                    </form>
                    <div class="panel-hdr">
                        <small>
                             <a class="far fa-3x far fa-arrow-circle-left"  href="{% url 'TalentoHumano:colaboradores-index' 0 %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Volver"></a>
                        </small>
                        <div style="padding-left: 10px; width: 300px;">
                            {% select_tag funcionalidad_selecciones 'filtro_ct' 'Todos los permisos' value=id_filtro primer_valor=True %}
                        </div>
                        {% if  permisos %}
                        <small class="posicionar-guardar">
                             <a class="far fa-3x far fa-save" href="javascript:(guardarAsignacionesPermisos())" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Guardar Cambios"></a>
                        </small>
                        {% endif %}
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content p-t-0 p-b-0">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div class="form-row p-t-10">
                                        <div class="col-xl-12">
                                            <div class="border-faded bg-faded p-3 mb-g d-flex">
                                                <input type="text" id="js-filter-permisos" class="form-control shadow-inset-2 form-control-lg" placeholder="Filtrar Permisos">
                                                <div class="btn-group btn-group-lg btn-group-toggle hidden-lg-down ml-3" data-toggle="buttons">
                                                    <label class="btn btn-default active">
                                                        <input type="radio" name="filtro-general" id="grid" checked="" value="grid"><i class="fas fa-table"></i>
                                                    </label>
                                                    <label class="btn btn-default">
                                                        <input type="radio" name="filtro-general" id="table" value="table"><i class="fas fa-th-list"></i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div id="js-permisos">
                                    {% if id_filtro != 1 %}
                                        {% for ct in lista_content_type %}
                                        <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-primary-gradient label-funcionalidad">
                                            <a class="navbar-brand d-flex align-items-center fw-500" style="color: white">{{ ct }}</a>
                                        </nav>
                                        <br class="label-funcionalidad">
                                        <div class="row" id="js-general">
                                            {% for permiso in permisos %}
                                                {% if ct == permiso.app_label %}
                                                    {% include 'TalentoHumano/GestionPermisos/_tarjeta_permiso.html' with permiso=permiso %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% if id_filtro == 0 or id_filtro == 1 %}
                                        {% if lista_grupos %}
                                            <nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-primary-gradient label-funcionalidad">
                                                <a class="navbar-brand d-flex align-items-center fw-500" style="color: white">Grupos de Permisos</a>
                                            </nav>
                                            <br class="label-funcionalidad">
                                            <div class="row">
                                                {% for grupo in lista_grupos %}
                                                    {% include 'TalentoHumano/GestionPermisos/_tarjeta_grupo.html' with permiso=grupo %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main%}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/custom/controlFiltro.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/asignacionPermisos.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
{% endblock scripts%}