{% extends 'SGI/_common/base_sgi.html' %}
{% load static %}
<title>{% block titulo %}Cadenas de Aprobacion{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/notifications/sweetalert2/sweetalert2.bundle.css'%}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
{% endblock styles %}

{% block main %}

    <div class="panel-container show">
        <div class="header">
             <h1 class="header-title">
                <i class='fal fa-link'></i> Cadenas de Aprobación <span class='fw-300'></span>
                 <br>
                 <br>
             </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    {% if perms.SGI.add_cadenaaprobacionencabezado %}
                    <div class="panel-hdr">
                        <small>
                             <a class="far fa-3x far fa-plus-circle"  href="{% url 'SGI:cadenas-aprobacion-crear' %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Agregar Cadena de Aprobación"></a>
                        </small>
                    </div>
                    {% endif %}
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered w-100" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Usuarios</th>
                                                    <th>Fecha de Creación</th>
                                                    <th>Estado</th>
                                                    {% if perms.SGI.change_cadenaaprobacionencabezado or perms.SGI.delete_cadenaaprobacionencabezado %}
                                                        <th>Acción</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for cadenas in cadenas_aprobacion %}
                                                    <tr>
                                                        <td>{{ cadenas.nombre }}</td>
                                                        <td style="width: 50%;">
                                                            <div class="frame-wrap">
                                                                {% for detalle in detalles%}
                                                                    {% if detalle.cadena_aprobacion == cadenas %}
                                                                        <span class="badge badge-primary">
                                                                            <span class="badge bg-primary-300"><font style="vertical-align: inherit;">
                                                                                <font style="vertical-align: inherit;">{{ detalle.orden }}</font></font>
                                                                            </span>
                                                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ detalle.usuario.get_full_name }}</font></font>
                                                                        </span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </td>
                                                        <td>{{ cadenas.fecha_creacion|date:'Y-m-d H:i' }}</td>
                                                        <td>
                                                            {% if cadenas.estado == True %}
                                                            <span class="badge badge-primary">Activo</span>
                                                            {% else %}
                                                            <span class="badge badge-secondary">Inactivo</span>
                                                            {% endif %}
                                                        </td>
                                                        {% if perms.SGI.change_cadenaaprobacionencabezado or perms.SGI.delete_cadenaaprobacionencabezado %}
                                                        <td>
                                                            {% if perms.SGI.change_cadenaaprobacionencabezado %}
                                                            <a class="far fa-2x fa-edit"  href="{% url 'SGI:cadenas-aprobacion-editar' cadenas.id %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Editar"></a>
                                                            {% endif %}
                                                            {% if perms.SGI.delete_cadenaaprobacionencabezado %}
                                                            <a class="far fa-2x fa-trash-alt color-danger-900" id="eliminar_{{ cadenas.id }}" href="javascript:void(0);"  onclick="fConfirmarEliminar({{ cadenas.id }})" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Eliminar"></a>
                                                            {% endif %}
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='sgi/cadenas_aprobacion' %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'SGI/js/confirmarEliminarSGI.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/exportar_tabla.js' %}"></script>
    <script src="{% static 'SGI/js/dataTableSGI.js' %}"></script>
{% endblock %}
