{% load eva_tags %}
{% load static %}

<form id="entidades_bancarias_form" method="post" class="needs-validation" novalidate>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-b-0">
                <h4 class="modal-title">
                    {% if objeto %} Editar {% else %} Agregar {% endif %}Entidad Bancaria
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-6">
                        {% select_tag tipos_cuentas 'tipo_cuenta' 'Seleccione un tipo' is_tupla=True texto_label="Tipo de Cuenta" required="" value=objeto.tipo_cuenta mensaje_validacion='Por favor seleccione una opción' %}
                    </div>
                    <div class="form-group col-6">
                        {% select_tag entidades_bancarias 'entidad_bancaria' 'Seleccione una entidad' texto_label="Entidad Bancaria" required="" value=objeto.entidad_bancaria_id mensaje_validacion='Por favor seleccione una opción' %}
                    </div>
                    <div class="form-group col-12">
                        {% input_number_tag 'numero_cuenta' 'Número de Cuenta' placeholder='Ingrese el número de cuenta' required='' min='0' max='9223372036854775807' value=objeto.numero_cuenta mensaje_validacion='Por favor ingrese un número' invalido=errores.numero_cuenta %}
                    </div>
                    <div class="form-group col-12">
                        {% if objeto %}
                            {% input_file_tag 'certificacion' 'Certificación Bancaria' placeholder="Seleccione un archivo" invalido=errores.logo accept=".docx, .pdf" mensaje_validacion='Por favor seleccione un archivo'%}
                        {% else %}
                            {% input_file_tag 'certificacion' 'Certificación Bancaria' placeholder="Seleccione un archivo" required="" invalido=errores.logo accept=".docx, .pdf" mensaje_validacion='Por favor seleccione un archivo'%}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-pills">Cancelar</button>
                <button id="guardar" type="submit" class="btn btn-primary btn-pills">{% if objeto %} Guardar {% else %} Cargar {% endif %} </button>
            </div>
        </div>
    </div>
</form>
