<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Empresas vinculadas al colaborador {{ colaborador.nombre_completo }}
                <small class="m-0 text-muted">
                    Seleccione una Empresa
                </small>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
        </div>
        <div class="modal-body">
            {% for empresa in empresas %}
                <div style="text-align: center">
                    <img class="logo-nav" style="width: 300px;" onclick="clicEmpresa({{ empresa.contrato.empresa.id }})" src="{{ empresa.contrato.empresa.logo.url }}">
                    <br>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
