<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h1><b>POLÍTICA PARA LA PROTECCION DE DATOS PERSONALES</b></h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
        </div>
        <div class="modal-body">
            <div style="justify-content: center;">
                <h3 style="text-align: justify">
                    La presente política tiene como propósito dar cumplimiento a lo establecido en la Ley 1266 de
                    2008 y la Ley 1581 de 2012, su decreto reglamentario 1377 de 2013 y demás normas concordantes
                    que regulan el derecho constitucional al HABEAS DATA, contemplado en el artículo 15 de la
                    Constitución Política de Colombia, cuyo propósito es garantizar a los ciudadanos el derecho a
                    autorizar el tratamiento de sus datos personales, así como a conocer, actualizar y rectificar
                    las informaciones que se hayan recogido sobre ellos en las bases de datos o en archivos de
                    entidades públicas y privadas. La Ley 1266 o Ley de Habeas Data, desarrolló el precepto
                    constitucional del artículo 15, regulando el uso de la información de los datos personales
                    financieros, crediticios, comerciales y de servicios registrados en un banco de datos.<br><br>

                    Las presentes políticas y procedimientos aplican a todo dato personal registrado presencial o
                    virtualmente, directamente o a través de terceros, en las bases de datos de ARIOS INGENIERIA
                    S.A.S. y las empresas o entidades que hacen parte de su organización, con las excepciones que
                    establece la ley, para su tratamiento (recolección, almacenamiento, uso, circulación o
                    supresión), para que el titular del dato acceda o pueda acceder a cualquier producto, servicio,
                    oferta, promoción, beneficio y/o vinculación soportada en una relación jurídica con ARIOS
                    INGENIERIA S.A.S.<br><br>

                    ARIOS INGENIERIA S.A.S. Comunicara a todos los colaboradores que manejen información de datos
                    personales de clientes internos y externos, proveedores y otras partes interesadas, sobre su
                    responsabilidad en el tratamiento de estos y concientizarlos sobre los principios de privacidad
                    de acuerdo con la legislación y reglamentación vigente.<br><br>

                    ARIOS INGENIERIA S.A.S. Informará a los colaboradores, clientes internos y externos, proveedores
                    y otras partes interesadas que sus datos de carácter personal sólo serán utilizados cuando sea
                    adecuado y pertinente en relación con el ámbito y las finalidades determinadas, explícitas y
                    legítimas para las que se hayan obtenido.
                </h3>
            </div>
        </div>
        <div class="modal-footer">
            <button id="guardar" data-dismiss="modal" class="btn btn-primary btn-pills"> Aceptar </button>
        </div>
    </div>
</div>