{% load static %}
<div id="panel-{{ objeto.id }}" class="panel">
    <div class="panel-hdr {% if not objeto.completo and not objeto.id == 0 %}bg-danger-500 bg-danger-gradient{% elif objeto.modificado and solicitud_proveedor %}bg-info-500 bg-info-gradient{% else %}bg-primary-500 bg-primary-gradient{% endif %}">
        <h2>
            {% if objeto.id != 0 %}
                {{ objeto.id }}.
            {% endif %}
            {{ objeto.nombre }}
        </h2>
        <div class="panel-toolbar">
            {% if not solicitud_activa and not solicitud_proveedor and not perfil_activo %}
                <button class="btn  btn-icon btn-sm btn-primary mr-1 shadow-0" onclick='window.location.href="{{ objeto.url }}"' data-toggle="tooltip" data-offset="0,10" data-original-title="Editar">
                    <i class="far fa-1x fa-edit"></i>
                </button>
            {% endif %}
            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">
            <div class="p-3" style="display: block">
                <h5>
                    {% if objeto.datos %}
                        {% for d in objeto.datos %}
                            {% if d.valor_campo %}
                                {% if d.validar %}
                                    {% if tipo_persona_pro == d.tipo_persona %}
                                        <small class="mt-0 mb-3 text-muted">
                                            <b>{{ d.nombre_campo }}</b>: {{ d.valor_campo }}
                                        </small>
                                    {% endif %}
                                {% else %}
                                    {% if pro_ser %}
                                        <small class="mt-0 mb-3 text-muted">
                                            {% if d.nombre_campo == 'Bienes y Servicios Adicionales' %}
                                                <b>{{ d.nombre_campo }}</b>: {{ d.valor_campo }}
                                            {% else %}
                                            <b>{{ d.nombre_campo }}</b>:
                                                {% for datos in d.valor_campo %}
                                                    <br>&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ datos.objeto }}: </b>{% for dts in datos.sub %}{{ dts }},&nbsp;{% endfor %}
                                                {% endfor %}
                                            {% endif %}
                                        </small>
                                    {% else %}
                                        <small class="mt-0 mb-3 text-muted">
                                            <b>{{ d.nombre_campo }}</b>: {{ d.valor_campo }}
                                            {% if d.archivo %}
{#                                                <a class="far fa-eye" style="text-decoration: none !important;" target="_blank" href="{{ d.archivo }}" ></a>#}
                                                <a class="far fa-eye" style="text-decoration: none !important;" href="javascript:abrirModalVistaPrevia('{{ d.archivo }}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Ver Archivo"></a>
                                            {% endif %}
                                        </small>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <small class="mt-0 mb-3 text-muted">
                            <b>Ingresa al formulario para diligenciar este item.</b>
                        </small>
                    {% endif %}
                </h5>
            </div>
        </div>
    </div>
</div>
