<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>
        Acceso a Arios Ingeniería S.A.S
    </title>
    <meta name="description" content="Login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <!-- Call App Mode on ios devices -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- base css -->
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/vendors.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/app.bundle.css' %}">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'EVA/Plantilla/img/favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'EVA/Plantilla/img/favicon/favicon-32x32.png'%}">
    <link rel="mask-icon" href="{% static 'EVA/Plantilla/img/favicon/safari-pinned-tab.svg'%}" color="#5bbad5">
    <!-- Optional: page related CSS-->
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-brands.css'%}">
</head>
<body>
<div class="page-wrapper" style="background: {% static 'EVA/Plantilla/img/svg/pattern-1.svg'%}; ">
    <table width="80%" bgcolor="#f1f6f8" border="0" cellpadding="0" cellspacing="0" style="background-color: #584475;" >
        <tr>
            <td>
                <table bgcolor="#f1f6f8" class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="background: url('https://www.gotbootstrap.com/themes/smartadmin/4.0.1/img/svg/pattern-1.svg'); background-position-y: -300px;    background-size: cover; background-color: #584475;">
                <tr>
                        <td class="header">
                            <table width="70" align="left" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="0" style="padding: 0 0px 0px 0;">
                                        <img src="https://www.arios-ing.com/images/Logos_Arios/LOGO_HEAD.jpg" alt="My image" width="350" height="120" style="padding-top: 10%">
                                        <br>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="innerpadding borderbottom">
                            <table width="80%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="h2" align='left'>
                                    </td>
                                <tr>
                                </tr>
                                <p>Hola {{ nombre }}, te estamos enviando este correo para que asignes una nueva contraseña a tu cuenta en Arios Ingeniería SAS.</p>


                                <p>Tu usuario es: {{usuario}}</p>

                                <p>El siguiente enlace te redireccionará a la página donde puedes realizar el cambio:</p>

                                <a href="http://{{dominio}}/password-reset-confirm/{{uidb64}}/{{token}}">Ir a la página para asignación de nueva contraseña</a>

                                <p>Si al hacer clic no funciona simplemente copia y pega la URL en tu navegador favorito.</p>

                                <tr>
                                    <td class="bodycopy">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>
<!-- base vendor bundle:
     DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
                + pace.js (recommended)
                + jquery.js (core)
                + jquery-ui-cust.js (core)
                + popper.js (core)
                + bootstrap.js (core)
                + slimscroll.js (extension)
                + app.navigation.js (core)
                + ba-throttle-debounce.js (core)
                + waves.js (extension)
                + smartpanels.js (extension)
                + src/../jquery-snippets.js (core) -->
<script src="{% static 'EVA/Plantilla/js/vendors.bundle.js'%}"></script>
<script src="{% static 'EVA/Plantilla/js/app.bundle.js'%}"></script>
<script>
    $("#js-login-btn").click(function(event)
    {

        // Fetch form to apply custom Bootstrap validation
        var form = $("#js-login")

        if (form[0].checkValidity() === false)
        {
            event.preventDefault()
            event.stopPropagation()
        }

        form.addClass('was-validated');
        // Perform ajax submit here...
    });

</script>
</body>
</html>
