{% extends 'Administracion/_common/base_administracion.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-solid.css' %}">
{% endblock styles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}Terceros{% endblock %}</title>
    </head>
    <body>
    {% block main %}
        <div class="subheader">
            <h1 class="subheader-title">
                <i class='fas fa-handshake'></i> Módulo <span class='fw-300'>Terceros</span>
                <small>

                </small>
            </h1>
            <div class="subheader-block">

            </div>
        </div>
    {% endblock %}
    </body>
</html>
