{% extends 'administracion/../Administracion/_common/base_administracion.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}Terceros{% endblock %}</title>
    </head>
    <body>
    {% block main %}
        <div class="subheader">
            <h1 class="subheader-title">
                <i class='subheader-icon fal fa-'></i> Módulo <span class='fw-300'>Terceros</span>
                <small>

                </small>
            </h1>
            <div class="subheader-block">

            </div>
        </div>
    {% endblock %}
    </body>
</html>
