{% extends 'Financiero/_common/base_financiero.html' %}
{% load static %}
{% load humanize %}
{% load eva_tags %}
<title>{% block titulo %}Flujo de Caja{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/custom/generales.css' %}">
{% endblock styles %}

{% block main %}
    {% with EDITADO=2 ELIMINADO=4 %}
    <div class="panel-container show">
        <div class="header p-b-10">
            <h1 class="header-title">
                <i class="fal fa-window-restore"></i> Consolidado de Flujos de Caja <span class='fw-300'></span>
            </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel" style="padding: 20px">
                    <form action="{% url 'Financiero:flujo-caja-consolidado' %}" id="consolidado-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input hidden id="fecha_min_max" value="{{ fecha_min_max }}">
                        <div class="form-group">
                            <div class="form-row">
                                <input id="valores_categorias" hidden value="{{ valor.lista_categorias }}">
                                <input id="subtipos_categorias" hidden value="{{ subtipos_categorias }}">
                                <div class="col-md-10">
                                    {% select_multiple_tag categorias 'categorias[]' 'categorias_id' 'Seleccion una opción' texto_label="Categorias" multiple='multiple' %}
                                </div>
                                <div class="col-md-2" style="padding-top: 25px">
                                    <a href="javascript:seleccionarTodos('categorias');" id="btn_all_categorias" class="btn btn-default btn-icon waves-effect waves-themed" title="{{ textos_categorias.texto }}">
                                        <i id="ic_all_categorias" class="fal {{ textos_categorias.icono }}"></i>
                                    </a>
                                    &nbsp;&nbsp;<b id="txt_all_categorias">{{ textos_categorias.texto }}</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <input id="valores_subtipos" hidden value="{{ valor.subtipos }}">
                                <div class="col-md-10">
                                    {% select_multiple_tag subtipos 'subtipos[]' 'subtipos_id' 'Seleccion una opción' texto_label="Subtipo de Movimiento" multiple='multiple' %}
                                </div>
                                <div class="col-md-2" style="padding-top: 25px">
                                    <a href="javascript:seleccionarTodos('subtipos');" id="btn_all_subtipos" class="btn btn-default btn-icon waves-effect waves-themed" title="{{ textos_subtipos.texto }}">
                                        <i id="ic_all_subtipos" class="fal {{ textos_subtipos.icono }}"></i>
                                    </a>
                                    &nbsp;&nbsp;<b id="txt_all_subtipos">{{ textos_subtipos.texto }}</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <input id="valores_con_pro" hidden value="{{ valor.lista_procesos_contratos }}">
                                <div class="col-md-10">
                                    {% select_multiple_tag contratos_procesos 'contrato_proceso[]' 'contrato_proceso_id' 'Seleccion una opción' texto_label="Contratos/Procesos" multiple='multiple' %}
                                </div>
                                <div class="col-md-2" style="padding-top: 25px">
                                    <a href="javascript:seleccionarTodos('contrato_proceso');" id="btn_all_contrato_proceso" class="btn btn-default btn-icon waves-effect waves-themed" title="{{ textos_pro_con.texto }}">
                                        <i id="ic_all_contrato_proceso" class="fal {{ textos_pro_con.icono }}"></i>
                                    </a>
                                    &nbsp;&nbsp;<b id="txt_all_contrato_proceso">{{ textos_pro_con.texto }}</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <label for="fecha_desde">Fecha Desde</label>
                                    <div class="input-group">
                                        <input type="text" id="fecha_desde_id" name="fecha_desde" value="{{ valor.fecha_desde | date:'Y-m-d' }}" placeholder="Seleccione una fecha" autocomplete="off" class="form-control fecha-control">
                                        <div class="input-group-append">
                                            <div id="borrarFechaDesde" {% if not valor.fecha_desde %} style="display: none" {% endif %}>
                                                <button type="button" onclick="borrarFecha('fecha_desde')" title="Borrar Selección" class="btn btn-outline-primary waves-effect waves-themed">X</button>
                                            </div>
                                        </div>
                                        <div class="validaciones" id="validar_fecha_desde" style="display:none;"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="fecha_hasta">Fecha Hasta</label>
                                    <div class="input-group">
                                        <input type="text" id="fecha_hasta_id" name="fecha_hasta" value="{{ valor.fecha_hasta | date:'Y-m-d' }}" placeholder="Seleccione una fecha" autocomplete="off" class="form-control fecha-control">
                                        <div class="input-group-append">
                                            <div id="borrarFechaHasta" {% if not valor.fecha_hasta %} style="display: none" {% endif %}>
                                                <button type="button" onclick="borrarFecha('fecha_hasta')" title="Borrar Selección" class="btn btn-outline-primary waves-effect waves-themed">X</button>
                                            </div>
                                        </div>
                                        <div class="validaciones" id="validar_fecha_hasta" style="display:none;"></div>
                                    </div>
                                </div>
                                <input id="valores_estados" hidden value="{{ valor.estados }}">
                                <div class="col-md-4">
                                    {% select_multiple_tag estados 'estados[]' 'estados_id' 'Seleccion una opción' texto_label="Estados" multiple='multiple' %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    {% select_tag tipos_flujos 'tipos_flujos_caja_id' 'Seleccione una opción' texto_label="Proyectado/Real" value=valor.tipos_flujos_caja %}
                                </div>
                                <div class="col-md-4" style="padding-top: 25px">
                                    <button class="btn buttons-html5 btn-outline-primary btn-sm mr-1"><span>Buscar</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if movimientos %}
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered w-100" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th>Fecha del Movimiento</th>
                                                    <th>Tipo de Movimiento</th>
                                                    <th>Valor</th>
                                                    <th>Proyectado/Real</th>
                                                    <th>Proceso/Contrato</th>
                                                    <th>Estado</th>
                                                    <th>Historial</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for movimiento in movimientos %}
                                                    <tr>
                                                        <td>{{ movimiento.fecha_movimiento|date:'Y-m-d' }}</td>
                                                        <td>{{ movimiento.subtipo_movimiento }}</td>
                                                        <td>{{ movimiento.valor|intcomma }}</td>
                                                        <td>{% if movimiento.tipo_registro == 0 %} Real {% else %} Proyectado {% endif %}</td>
                                                        <td>{% if movimiento.flujo_caja_enc.proceso %}
                                                                {{ movimiento.flujo_caja_enc.proceso }}
                                                            {% else %}
                                                                {{ movimiento.flujo_caja_enc.contrato }}
                                                            {% endif %}
                                                        </td>
                                                        <td><span class="badge {% if movimiento.estado_id == ELIMINADO %} badge-danger {% else %} badge-primary {% endif %} fw-300 ml-auto">{{ movimiento.estado }}</span></td>
                                                        <td>
                                                            {% if movimiento.estado_id == EDITADO or movimiento.estado_id == ELIMINADO %}
                                                                <a class="far fa-2x fa-custom fa-list-alt" id="historial_{{ movimiento.id }}" href="javascript:void(0);"  onclick="abrirModalHistorial('{% url 'Financiero:flujo-caja-movimiento-historial' movimiento.id %}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Historial"></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Actualizado: {{ fecha_actual }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if comparacion %}
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered w-100" id="dataTableComparativo">
                                            <thead>
                                                <tr>
                                                    <th>Real</th>
                                                    <th>Fecha del Movimiento</th>
                                                    <th>Tipo de Movimiento</th>
                                                    <th>Precio</th>
                                                    <th>Proceso/Contrato</th>
                                                    <th>Estado</th>
                                                    <th>Proyectado</th>
                                                    <th>Fecha del Movimiento</th>
                                                    <th>Tipo de Movimiento</th>
                                                    <th>Precio</th>
                                                    <th>Proceso/Contrato</th>
                                                    <th>Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for comp in comparacion %}
                                                    <tr>
                                                        <td><b>{% if comp.datos_real.tipo_registro == 0 %}Real {% elif comp.datos_real.tipo_registro == 1 %} Proyectado {% endif %}</b></td>
                                                        <td>{{ comp.datos_real.fecha_movimiento|date:'Y-m-d' }}</td>
                                                        <td>{{ comp.datos_real.subtipo_movimiento }}</td>
                                                        <td>{{ comp.datos_real.valor|intcomma }}</td>
                                                        <td>{% if comp.datos_real.flujo_caja_enc.proceso %}
                                                                {{ comp.datos_real.flujo_caja_enc.proceso }}
                                                            {% else %}
                                                                {{ comp.datos_real.flujo_caja_enc.contrato }}
                                                            {% endif %}
                                                        </td>
                                                        <td><span class="badge {% if comp.datos_real.estado_id == ELIMINADO %} badge-danger {% else %} badge-primary {% endif %} fw-300 ml-auto">{{ comp.datos_real.estado }}</span></td>
                                                        <td><b>{% if comp.datos_proyectado.tipo_registro == 0 %} Real {% elif comp.datos_proyectado.tipo_registro == 1 %} Proyectado {% endif %}</b></td>
                                                        <td>{{ comp.datos_proyectado.fecha_movimiento|date:'Y-m-d' }}</td>
                                                        <td>{{ comp.datos_proyectado.subtipo_movimiento }}</td>
                                                        <td>{{ comp.datos_proyectado.valor|intcomma }}</td>
                                                        <td>{% if comp.datos_proyectado.flujo_caja_enc.proceso %}
                                                                {{ comp.datos_proyectado.flujo_caja_enc.proceso }}
                                                            {% else %}
                                                                {{ comp.datos_proyectado.flujo_caja_enc.contrato }}
                                                            {% endif %}
                                                        </td>
                                                        <td><span class="badge {% if comp.datos_proyectado.estado_id == ELIMINADO %} badge-danger {% else %} badge-primary {% endif %} fw-300 ml-auto">{{ comp.datos_proyectado.estado }}</span></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Actualizado: {{ fecha_actual }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="historial" role="dialog"></div>
{% endwith %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js'%}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/exportar_tabla.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/exportarTablas/exportatTablasConsolidadoComparativo.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/modalHistorial.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/configuracionesConsolidado.js' %}"></script>
{% endblock %}