{% extends 'Financiero/_common/base_financiero.html' %}
{% load static %}
{% load humanize %}
{% load eva_tags %}
<title>{% block titulo %}Flujo de Caja{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/custom/generales.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'Financiero/css/configuracionesConsolidado.css' %}">
{% endblock styles %}

{% block main %}
    {% with EDITADO=2 ELIMINADO=4 %}
    <div class="panel-container show">
        <div class="header p-b-10">
            <h1 class="header-title">
                <i class="fal fa-window-restore"></i> Consolidado de Flujos de Caja <span class='fw-300'></span>
            </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel p-20">
                    <form action="{% url 'Financiero:flujo-caja-consolidado' %}" id="consolidado-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input hidden id="fecha_min_max" value="{{ fecha_min_max }}">
                        <div class="form-group">
                            <div class="form-row">
                                <input id="valores_categorias" hidden value="{{ valor.categorias }}">
                                <input id="subtipos_categorias" hidden value="{{ subtipos_categorias }}">
                                <div class="col-md-10">
                                    {% select_multiple_tag categorias 'categorias[]' 'categorias_id' 'Seleccion una opción' texto_label="Categorías" multiple='multiple' %}
                                </div>
                                <div class="col-md-2 p-t-25">
                                    <a href="javascript:seleccionarTodos('categorias');" id="btn_all_categorias" class="btn btn-default btn-icon waves-effect waves-themed" title="{{ textos_categorias.texto }}">
                                        <i id="ic_all_categorias" class="fal {{ textos_categorias.icono }}"></i>
                                    </a>
                                    &nbsp;&nbsp;<b id="txt_all_categorias">{{ textos_categorias.texto }}</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <input id="valores_subtipos" hidden value="{{ valor.subtipos }}">
                                <div class="col-md-10">
                                    {% select_multiple_tag subtipos 'subtipos[]' 'subtipos_id' 'Seleccion una opción' texto_label="Subtipo de Movimiento" multiple='multiple' %}
                                </div>
                                <div class="col-md-2 p-t-25">
                                    <a href="javascript:seleccionarTodos('subtipos');" id="btn_all_subtipos" class="btn btn-default btn-icon waves-effect waves-themed" title="{{ textos_subtipos.texto }}">
                                        <i id="ic_all_subtipos" class="fal {{ textos_subtipos.icono }}"></i>
                                    </a>
                                    &nbsp;&nbsp;<b id="txt_all_subtipos">{{ textos_subtipos.texto }}</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <input id="valores_contratos" hidden value="{{ valor.lista_contratos }}">
                                <div class="col-md-10">
                                    {% select_multiple_tag contratos 'contrato[]' 'contrato_id' 'Seleccion una opción' texto_label="Contratos" multiple='multiple' %}
                                </div>
                                <div class="col-md-2 p-t-25">
                                    <a href="javascript:seleccionarTodos('contrato');" id="btn_all_contrato" class="btn btn-default btn-icon waves-effect waves-themed" title="{{ textos_contrato.texto }}">
                                        <i id="ic_all_contrato" class="fal {{ textos_contratos.icono }}"></i>
                                    </a>
                                    &nbsp;&nbsp;<b id="txt_all_contrato">{{ textos_contratos.texto }}</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <input id="valores_procesos" hidden value="{{ valor.lista_procesos }}">
                                <div class="col-md-10">
                                    {% select_multiple_tag procesos 'proceso[]' 'proceso_id' 'Seleccion una opción' texto_label="Procesos" multiple='multiple' %}
                                </div>
                                <div class="col-md-2 p-t-25">
                                    <a href="javascript:seleccionarTodos('proceso');" id="btn_all_proceso" class="btn btn-default btn-icon waves-effect waves-themed" title="{{ textos_proceso.texto }}">
                                        <i id="ic_all_proceso" class="fal {{ textos_procesos.icono }}"></i>
                                    </a>
                                    &nbsp;&nbsp;<b id="txt_all_proceso">{{ textos_procesos.texto }}</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <label for="fecha_desde">Fecha Desde</label>
                                    <div class="input-group">
                                        <input type="text" id="fecha_desde_id" name="fecha_desde" value="{{ valor.fecha_desde | date:'Y-m-d' }}" placeholder="Seleccione una fecha" autocomplete="off" class="form-control fecha-control">
                                        <div class="input-group-append">
                                            <div id="borrarFechaDesde" {% if not valor.fecha_desde %} style="display: none" {% endif %}>
                                                <button type="button" onclick="borrarFecha('fecha_desde')" title="Borrar Selección" class="btn btn-outline-primary waves-effect waves-themed">X</button>
                                            </div>
                                        </div>
                                        <div class="validaciones" id="validar_fecha_desde" style="display:none;"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="fecha_hasta">Fecha Hasta</label>
                                    <div class="input-group">
                                        <input type="text" id="fecha_hasta_id" name="fecha_hasta" value="{{ valor.fecha_hasta | date:'Y-m-d' }}" placeholder="Seleccione una fecha" autocomplete="off" class="form-control fecha-control">
                                        <div class="input-group-append">
                                            <div id="borrarFechaHasta" {% if not valor.fecha_hasta %} style="display: none" {% endif %}>
                                                <button type="button" onclick="borrarFecha('fecha_hasta')" title="Borrar Selección" class="btn btn-outline-primary waves-effect waves-themed">X</button>
                                            </div>
                                        </div>
                                        <div class="validaciones" id="validar_fecha_hasta" style="display:none;"></div>
                                    </div>
                                </div>
                                <input id="valores_estados" hidden value="{{ valor.estados }}">
                                <div class="col-md-4">
                                    {% select_multiple_tag estados 'estados[]' 'estados_id' 'Seleccion una opción' texto_label="Estados" multiple='multiple' %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-4">
                                    {% select_tag tipos_flujos 'tipos_flujos_caja_id' 'Real' primer_valor=True texto_label="Proyectado/Real" value=valor.tipos_flujos_caja %}
                                </div>
                                <div class="col-md-4 p-t-25">
                                    <button class="btn buttons-html5 btn-outline-primary btn-sm mr-1"><span>Buscar</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if movimientos %}
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div class="row mb-3">
                                        <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-start">
                                            <h1 class="header-title">Resultados de la Búsqueda</h1>
                                        </div>
                                        <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-end">
                                            <div class="dt-buttons">
                                                <button class="btn buttons-print btn-outline-primary btn-sm"
                                                        tabindex="0" aria-controls="dataTableFlujoCaja" type="button" onclick="Imprimir()">
                                                    <span>Imprimir</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <input hidden id="numero_meses" value={{ meses|length }}>
                                    <input hidden id="consolidado_comparativo" value={{ comparativo }}>
                                    <div id="div_consolidado" class="table-responsive">
                                        <table class="table table-bordered w-100" id="dataTableCategoria">
                                            <thead class="bg-primary-400">
                                                <tr>
                                                    <th></th>
                                                    <th rowspan="2" style="padding-bottom: 30px;">Categorías</th>
                                                    {% for mes in meses %}
                                                        <th class="w-300" colspan="{% if comparativo %} 6 {% else %} 3 {% endif %}">{{ mes.mes }}</th>
                                                    {% endfor %}
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    {% if comparativo %}
                                                        {% for mes in meses %}
                                                            <th>Ingresos Reales</th>
                                                            <th>Costos Reales</th>
                                                            <th>Gastos Reales</th>
                                                            <th>Ingresos Proyectados</th>
                                                            <th>Costos Proyectados</th>
                                                            <th>Gastos Proyectados</th>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for mes in meses %}
                                                            <th>Ingresos</th>
                                                            <th>Costos</th>
                                                            <th>Gastos</th>
                                                        {% endfor %}
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for mov in movimientos %}
                                                    <tr>
                                                        <td class="w-10">
                                                            <a class="far fa-2x far fa-plus-circle" id="boton_categoria_{{ mov.id }}" href="javascript:desplegarDetalle('categoria', {{ mov.id }})" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip"></a>
                                                        </td>
                                                        <td>{{ mov.nombre }}</td>
                                                        {% if comparativo %}
                                                            {% for mes in mov.meses %}
                                                                <td>{{ mes.valor_ingresos_real|intcomma }}</td>
                                                                <td>{{ mes.valor_costos_real|intcomma }}</td>
                                                                <td>{{ mes.valor_gastos_real|intcomma }}</td>
                                                                <td>{{ mes.valor_ingresos_proyectado|intcomma }}</td>
                                                                <td>{{ mes.valor_costos_proyectado|intcomma }}</td>
                                                                <td>{{ mes.valor_gastos_proyectado|intcomma }}</td>
                                                            {% endfor %}
                                                        {% else %}
                                                            {% if valor.tipos_flujos_caja == 0 %}
                                                                {% for mes in mov.meses %}
                                                                    <td>{{ mes.valor_ingresos_real|intcomma }}</td>
                                                                    <td>{{ mes.valor_costos_real|intcomma }}</td>
                                                                    <td>{{ mes.valor_gastos_real|intcomma }}</td>
                                                                {% endfor %}
                                                            {% else %}
                                                                {% for mes in mov.meses %}
                                                                    <td>{{ mes.valor_ingresos_proyectado|intcomma }}</td>
                                                                    <td>{{ mes.valor_costos_proyectado|intcomma }}</td>
                                                                    <td>{{ mes.valor_gastos_proyectado|intcomma }}</td>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endif %}
                                                    </tr>
                                                    <tr id="mas_categoria_{{ mov.id }}" style="display: none">
                                                        <td class="configuracion_colspan">
                                                             <table class="table table-bordered w-100" id="dataTableSubtipo">
                                                                <thead class="bg-info-400">
                                                                    <tr>
                                                                        <th></th>
                                                                        <th rowspan="2" style="padding-bottom: 30px;">Subtipos</th>
                                                                        {% for mes in meses %}
                                                                            <th class="w-300" colspan="{% if comparativo %} 6 {% else %} 3 {% endif %}">{{ mes.mes }}</th>
                                                                        {% endfor %}
                                                                    </tr>
                                                                    <tr>
                                                                        <th></th>
                                                                        {% if comparativo %}
                                                                            {% for mes in meses %}
                                                                                <th>Ingresos Reales</th>
                                                                                <th>Costos Reales</th>
                                                                                <th>Gastos Reales</th>
                                                                                <th>Ingresos Proyectados</th>
                                                                                <th>Costos Proyectados</th>
                                                                                <th>Gastos Proyectados</th>
                                                                            {% endfor %}
                                                                        {% else %}
                                                                            {% for mes in meses %}
                                                                                <th>Ingresos</th>
                                                                                <th>Costos</th>
                                                                                <th>Gastos</th>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for sub in mov.subtipos %}
                                                                        <tr>
                                                                            <td class="w-10">
                                                                                <a class="far fa-2x far fa-plus-circle" id="boton_subtipo_{{ sub.id }}" href="javascript:desplegarDetalle('subtipo', {{ sub.id }})" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip"></a>
                                                                            </td>
                                                                            <td>{{ sub.nombre }}</td>
                                                                            {% if comparativo %}
                                                                                {% for mes in sub.meses %}
                                                                                    <td>{{ mes.valor_ingresos_real|intcomma }}</td>
                                                                                    <td>{{ mes.valor_costos_real|intcomma }}</td>
                                                                                    <td>{{ mes.valor_gastos_real|intcomma }}</td>
                                                                                    <td>{{ mes.valor_ingresos_proyectado|intcomma }}</td>
                                                                                    <td>{{ mes.valor_costos_proyectado|intcomma }}</td>
                                                                                    <td>{{ mes.valor_gastos_proyectado|intcomma }}</td>
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                {% if valor.tipos_flujos_caja == 0 %}
                                                                                    {% for mes in sub.meses %}
                                                                                        <td>{{ mes.valor_ingresos_real|intcomma }}</td>
                                                                                        <td>{{ mes.valor_costos_real|intcomma }}</td>
                                                                                        <td>{{ mes.valor_gastos_real|intcomma }}</td>
                                                                                    {% endfor %}
                                                                                {% else %}
                                                                                    {% for mes in sub.meses %}
                                                                                        <td>{{ mes.valor_ingresos_proyectado|intcomma }}</td>
                                                                                        <td>{{ mes.valor_costos_proyectado|intcomma }}</td>
                                                                                        <td>{{ mes.valor_gastos_proyectado|intcomma }}</td>
                                                                                    {% endfor %}
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </tr>
                                                                        <tr id="mas_subtipo_{{ sub.id }}" style="display: none">
                                                                            <td class="configuracion_colspan">
                                                                                 <table class="table table-bordered w-100" id="dataTableProCon">
                                                                                    <thead class="bg-success-100">
                                                                                        <tr>
                                                                                            <th></th>
                                                                                            {% for mes in meses %}
                                                                                                <th class="w-300" colspan="{% if comparativo %} 6 {% else %} 3 {% endif %}">{{ mes.mes }}</th>
                                                                                            {% endfor %}
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th rowspan="2" class="p-t-0 m-w-170" style="padding-bottom: 30px;">Contratos / Procesos</th>
                                                                                            {% if comparativo %}
                                                                                                {% for mes in meses %}
                                                                                                    <th>Ingresos Reales</th>
                                                                                                    <th>Costos Reales</th>
                                                                                                    <th>Gastos Reales</th>
                                                                                                    <th>Ingresos Proyectados</th>
                                                                                                    <th>Costos Proyectados</th>
                                                                                                    <th>Gastos Proyectados</th>
                                                                                                {% endfor %}
                                                                                            {% else %}
                                                                                                {% for mes in meses %}
                                                                                                    <th>Ingresos</th>
                                                                                                    <th>Costos</th>
                                                                                                    <th>Gastos</th>
                                                                                                {% endfor %}
                                                                                            {% endif %}
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        {% for cp in sub.con_pro %}
                                                                                            <tr>
                                                                                                <td>{{ cp.nombre }}</td>
                                                                                                {% if comparativo %}
                                                                                                    {% for mes in cp.meses %}
                                                                                                        <td>{{ mes.valor_ingresos_real|intcomma }}</td>
                                                                                                        <td>{{ mes.valor_costos_real|intcomma }}</td>
                                                                                                        <td>{{ mes.valor_gastos_real|intcomma }}</td>
                                                                                                        <td>{{ mes.valor_ingresos_proyectado|intcomma }}</td>
                                                                                                        <td>{{ mes.valor_costos_proyectado|intcomma }}</td>
                                                                                                        <td>{{ mes.valor_gastos_proyectado|intcomma }}</td>
                                                                                                    {% endfor %}
                                                                                                {% else %}
                                                                                                    {% if valor.tipos_flujos_caja == 0 %}
                                                                                                        {% for mes in cp.meses %}
                                                                                                            <td>{{ mes.valor_ingresos_real|intcomma }}</td>
                                                                                                            <td>{{ mes.valor_costos_real|intcomma }}</td>
                                                                                                            <td>{{ mes.valor_gastos_real|intcomma }}</td>
                                                                                                        {% endfor %}
                                                                                                    {% else %}
                                                                                                        {% for mes in cp.meses %}
                                                                                                            <td>{{ mes.valor_ingresos_proyectado|intcomma }}</td>
                                                                                                            <td>{{ mes.valor_costos_proyectado|intcomma }}</td>
                                                                                                            <td>{{ mes.valor_gastos_proyectado|intcomma }}</td>
                                                                                                        {% endfor %}
                                                                                                    {% endif %}
                                                                                                {% endif %}
                                                                                            </tr>
                                                                                        {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <br><br>
                                    <div id="div_totales" class="table-responsive">
                                        <table class="table table-bordered w-100" id="dataTableCategoria">
                                            <thead class="bg-primary-400">
                                                {% if comparativo %}
                                                <tr>
                                                    <th colspan="4" class="w-300">Totales Reales</th>
                                                    <th colspan="4" class="w-300">Totales Proyectados</th>
                                                </tr>
                                                <tr>
                                                    <th>Ingresos</th>
                                                    <th>Costos</th>
                                                    <th>Gastos</th>
                                                    <th>Ingresos - Egresos</th>
                                                    <th>Ingresos</th>
                                                    <th>Costos</th>
                                                    <th>Gastos</th>
                                                    <th>Ingresos - Egresos</th>
                                                <tr>
                                                {% else %}
                                                    <tr>
                                                        <th colspan="4" class="w-300">Totales</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Ingresos</th>
                                                        <th>Costos</th>
                                                        <th>Gastos</th>
                                                        <th>Ingresos - Egresos</th>
                                                    </tr>
                                                {% endif %}
                                            </thead>
                                            <tbody>
                                                <tr>
                                                {% if comparativo %}
                                                    <td>{{ totales.total_ingresos_real }}</td>
                                                    <td>{{ totales.total_costos_real }}</td>
                                                    <td>{{ totales.total_gastos_real }}</td>
                                                    <td>{{ totales.diferencia_ingresos_egresos_real }}</td>
                                                    <td>{{ totales.total_ingresos_proyectado }}</td>
                                                    <td>{{ totales.total_costos_proyectado }}</td>
                                                    <td>{{ totales.total_gastos_proyectado }}</td>
                                                    <td>{{ totales.diferencia_ingresos_egresos_proyectado }}</td>
                                                {% else %}
                                                    {% if valor.tipos_flujos_caja == 0 %}
                                                        <td>{{ totales.total_ingresos_real }}</td>
                                                        <td>{{ totales.total_costos_real }}</td>
                                                        <td>{{ totales.total_gastos_real }}</td>
                                                        <td>{{ totales.diferencia_ingresos_egresos_real }}</td>
                                                    {% else %}
                                                        <td>{{ totales.total_ingresos_proyectado }}</td>
                                                        <td>{{ totales.total_costos_proyectado }}</td>
                                                        <td>{{ totales.total_gastos_proyectado }}</td>
                                                        <td>{{ totales.diferencia_ingresos_egresos_proyectado }}</td>
                                                    {% endif %}
                                                {% endif %}
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endwith %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js'%}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/exportar_tabla.js' %}"></script>
    <script src="{% static 'Financiero/js/FlujoCaja/Consolidado/configuracionesConsolidado.js' %}"></script>
{% endblock %}