{% extends 'Notificaciones/_common/base_notificaciones.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'Notificaciones/css/notificaciones.css' %}">
{% endblock styles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
    {% block main %}
        <div class="content-wrapper">
            <div class="container-fluid">
            <div class="panel  mx-auto mt-8" style="max-width: 50rem">
                <div class="titulo_ver_todas">
                    <h2>Tus Notificaciones</h2>
                </div>
                {% for notificacion in Notificaciones %}
                <div class="divider_not "></div>
                <div class="no-leido">
                    <div class="m-l-20">
                        <a href="#" class="d-flex align-items-center">
                            <span class="d-flex flex-column flex-1 ml-1">
                                <span class="name"><b>{{ notificacion.titulo }}</b></span>
                                <span class="msg-b fs-xs text-dark">{{ notificacion.mensaje }}</span>
                                <span class="fs-nano text-muted mt-1">{{ notificacion.fecha }}</span>
                            </span>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <div id="contenedor_ver_mas">

                </div>
                <div id="mostrar_ver_mas">
                    <div class="divider_not"></div>
                        <div class="estilo_ver_mas">
                            <a href="#" class="d-flex align-items-center">
                                <span class="d-flex flex-column flex-1 ml-1">
                                    <span class="name"><b>Ver mas</b></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>
