{% extends 'Notificaciones/_common/base_notificaciones.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'Notificaciones/css/notificaciones.css' %}">
{% endblock styles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
    {% block main %}
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="panel  mx-auto mt-8" style="max-width: 50rem">
                    <div class="titulo_ver_todas">
                        <h2>Tus Notificaciones</h2>
                    </div>
                    <div class="divider_not "></div>
                    <ul class="notification" id="cargar_notificaciones" style="overflow: hidden; width: auto; height: 100%;">
                        {% for notificacion in Notificaciones %}
                            <li class="{% if notificacion.visto %} read {% else %} unread {% endif %}">
                                <a class="d-flex align-items-center" href="#" onclick="fDetalleNotificacion('{{ notificacion.url }}', {{ notificacion.id }}, {{ notificacion.id_evento }}, {{ notificacion.modal | lower }})">
                                    <span class="d-flex flex-column flex-1 ml-1"><span class="name">{{ notificacion.titulo }}</span>
                                        <span class="msg-b fs-xs">{{ notificacion.mensaje }}</span>
                                        <span class="fs-nano text-muted mt-1">{{ notificacion.fecha }}</span>
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
    </body>
</html>
