{% extends 'TalentoHumano/_common/base_talento_humano.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}{% if OPCION == 'por_contratos' %} Colaboradores vinculados al contrato {{ colaborador.contrato }}{% else %} Colaboradores{% endif %}{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-brands.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-solid.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/notifications/sweetalert2/sweetalert2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="mask-icon" href="{% static 'EVA/Plantilla/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="stylesheet" href="{% static 'Notificaciones/css/asignacion.css' %}">
{% endblock styles %}

{% block main %}
    <div class="panel-container show">
        <div class="header">
            <h1 class="header-title">
                <i class='far fa-bell'></i> Asignación de Notificaciones <span class='fw-300'></span>
                <br>
                <br>
            </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <form action="{% url 'Notificaciones:notificaciones-asignacion' colaborador %}" id="asignacion-notificaciones-form" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                        <div class="panel-hdr">
                            <small>
                                 <a class="far fa-3x far fa-arrow-circle-left"  href="{% url 'TalentoHumano:colaboradores-index' 0 %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Volver"></a>
                            </small>
                            {% if  desencadenadores %}
                            <small class="posicionar-guardar">
                                 <a class="far fa-3x far fa-save" href="javascript:(guardarAsignaciones())" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Guardar Cambios"></a>
                                 </a>
                            </small>
                            {% endif %}
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content p-t-0 p-b-0">
                                <div class="panel-group">
                                    <div class="panel-body">
                                        {% if  desencadenadores %}
                                        <div class="form-row p-t-10">
                                            <div class="col-xl-12">
                                                <div class="border-faded bg-faded p-3 mb-g d-flex">
                                                    <input type="text" id="js-filter-contacts" class="form-control shadow-inset-2 form-control-lg" placeholder="Filtrar Desencadenadores">
                                                    <div class="btn-group btn-group-lg btn-group-toggle hidden-lg-down ml-3" data-toggle="buttons">
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="filtro-general" id="grid" checked="" value="grid"><i class="fas fa-table"></i>
                                                        </label>
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="filtro-general" id="table" value="table"><i class="fas fa-th-list"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="filtro-general">
                                            {% for desencadenador in desencadenadores %}
                                                {% include 'Notificaciones/AsignacionNotificaciones/_tarjeta_desencadenador.html' with desencadenador=desencadenador %}
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            <div class="vacio"><a>Este usuario no tiene permiso a ningun módulo de la aplicación</a></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='talento-humano/colaboradores' %}
{% endblock main%}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/confirmarEliminarTalentoHumano.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/ajaxDjango.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/controlFiltro.js' %}"></script>
    <script src="{% static 'Notificaciones/js/asignacionNotificacion.js' %}"></script>
{% endblock scripts%}