{% load static %}
{% load eva_tags %}
<div class="col-xl-3">
    <div id="d_{{ desencadenador.id }}" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="{{ desencadenador.nombre | lower }}">
        <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
            <div class="form-row">
                <div class="col-md-10">
                    <a href="javascript:void(0);" class="card-title"><strong>{{ desencadenador.nombre }}</strong></a>
                </div>
                <div class="col-md-2" style="">
                    <div class="custom-control custom-switch" style="float: right;">
                        <div class="custom-control custom-checkbox">
                            {% if opcion == 'asignacion' %}
                            <input type="checkbox" value="{{ desencadenador.id }}" id="{{ desencadenador.nombre }}_id" name="desencadenadores" {% for select in selecciones %}{% if select.evento_desencadenador_id == desencadenador.id %}checked{% endif %}{% endfor %} class="custom-control-input form-control">
                            {% else %}
                            <input type="checkbox" value="{{ desencadenador.id }}" id="{{ desencadenador.nombre }}_id" name="desencadenadores" {% if desencadenador.correo %}checked{% endif %} class="custom-control-input form-control">
                            {% endif %}
                            <label for="{{ desencadenador.nombre }}_id" class="custom-control-label no-seleccionable"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0 collapse show">
            <div class="p-3">
                <a  class="mt-1 d-block fs-sm fw-400 text-dark">
                    <strong>Descripción:</strong>
                    <i class="text-muted"></i>  {{desencadenador.descripcion}}
                </a>
            </div>
        </div>
    </div>
</div>