{% load eva_tags %}
{% load static %}


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header p-b-0">
            <h4 class="modal-title">
                {{ documento }}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'sgi:aprobacion-documentos-accion' documento.id %}" id="empresas-form" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <div class="m-b-10">
                        {% input_textarea_tag 'comentario' 'Comentarios' placeholder="Describa la razon por la cual va a tomar la acción" required="" modal=True  mensaje_validacion='Por favor escriba un comentario' invalido=errores.comentario %}
                    </div>
                    <div class="m-b-10">
                        <div class="frame-wrap">
                            {% input_select_radio_tag 'opcion' '¿Desea aprobar este documento?' opciones required="" modal=True mensaje_validacion='Por favor seleccione una opcion' invalido=errores.comentario %}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        <button id="guardar" type="submit" class="btn btn-primary btn-block"> Confirmar </button>
                    </div>
                    <div style="padding-left: 15px">
                        <button data-dismiss="modal" class="btn btn-danger btn-block">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>