{% load static %}
<div class="col-xl-4">
    <div id="c_{{ id_grupo }}" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="{{ nombre | lower }}">
        <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
            <div class="d-flex flex-row align-items-center">
                <div class="info-card-text flex-1">
                    <a class="fs-xl text-truncate text-truncate-lg text-primary" aria-expanded="false">
                        {{ nombre }}
                    </a>
                </div>
                <div class="col-md-12">
                {% if perms.GestionActividades.change_grupoactividades %}
                    <small>
                            <a class="fad fa-2x fa-file-edit" id="editar_{{ grupo_actividad.id }}" href="javascript:abrirModalCrearGrupoActividad('{% url 'GestionActividades:grupo-actividades-editar' grupo_actividad.id %}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Editar Grupo"></a>
                    </small>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body p-0 collapse show">
            <div class="p-3">
                <a  class="mt-1 d-block fs-sm fw-400 text-dark">
                    <i class="fas fa-battery-half text-muted mr-2"> Progreso</i> {{telefono}} </a>
                <a  class="mt-1 d-block fs-sm fw-400 text-dark">
                    <i class="fas fa-users text-muted mr-2"> Responsables </i> {{telefono}}</a>
                <a class="mt-1 d-block fs-sm fw-400 text-dark">
                    <i class="fas fa-calendar-check text-muted mr-2"> Número Actividades </i> {{identificacion}}</a>
                <a class="mt-1 d-block fs-sm fw-400 text-dark">
                    <i class="fas fa-calendar-times text-muted mr-2"> Actividades Pendientes</i> {{correo }}</a>
            </div>
        </div>
    </div>
</div>
