{% load static %}
<div class="col-xl-4">
    <div id="c_{{ id_grupo }}" class="card border shadow-0 mb-g shadow-sm-hover" data-filter-tags="{{ nombre | lower }}{{ proceso | lower }}{{ contrato | lower }}{{ responsables | lower }}">
        <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
            <div class="d-flex flex-row align-items-center">
                <div class="info-card-text flex-1">
                    <a href="javascript:void(0);" class="fs-xl text-truncate text-truncate-lg text-primary" data-toggle="dropdown" aria-expanded="false">
                        {{ nombre }}
                        <i class="fal fa-angle-down d-inline-block ml-1 fs-md"></i>
                    </a>
                    {% if perms.GestionActividades.view_grupoactividad %}
                        <div class="dropdown-menu">
                            {% if perms.GestionActividades.change_grupoactividad %}
                                <a class="dropdown-item" href="javascript:abrirModalCrearGrupoActividad('{% url 'GestionActividades:grupos-actividades-editar' grupo_actividad.id%}', '{{ asociado }}')">Editar</a>
                            {% endif %}
                            {% if perms.GestionActividades.view_grupoactividad %}
                                <a class="dropdown-item" href="{% url 'GestionActividades:actividades-index' id_grupo%}">Detalle</a>
                            {% endif %}
                            {% if perms.GestionActividades.delete_grupoactividad %}
                                <a class="dropdown-item" href="javascript:void(0);" id="eliminar_{{ id_grupo }}"   onclick="fConfirmarEliminar({{ id_grupo }}, 1)">Eliminar</a>
                            {% endif %}
                            {% if perms.GestionActividades.view_grupoactividad %}
                                <a class="dropdown-item" href="{% url 'GestionActividades:reporte-eficiencia-grupo' id_grupo%}">Reporte Eficiencia</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-body p-0 collapse show">
            <div class="p-3">
                <div class="form-row">
                    <a  class="mt-0 p-1 d-block fs-sm fw-400 text-dark">
                        <i class="fas fa-battery-half text-muted mr-2"> Progreso</i></a>
                    <div class="col-12 col-md-6 hidden-md-down">
                        <div class="p-3 p-md-2">
                            <div class="d-flex align-items-center">
                                <div class="flex-1 min-width-0">
                                    <a href="javascript:void(0)" class="d-block text-truncate">
                                        <div class="progress">
                                            <div class="progress-bar text-white bg-info-800" role="progressbar" style="width:{{ progreso }}%;" aria-valuenow="{{ progreso }}" aria-valuemin="0" aria-valuemax="100">{{ progreso }}%</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a  class="mt-1 d-block fs-sm fw-400 text-dark">
                    <i class="fas fa-users text-muted mr-2"> Responsables </i><i class="fas fs-md text-primary mr-2">{{responsables}}</i></a>
                <a class="mt-1 d-block fs-sm fw-400 text-dark">
                    <i class="fas fa-calendar-check text-muted mr-2"> Número Actividades </i><i class="fas fs-lg text-primary mr-2">{{actividades}}</i></a>
                <a class="mt-1 d-block fs-sm fw-400 text-dark">
                    <i class="fas fa-calendar-times text-muted mr-2"> Actividades Pendientes</i><i class="fas fs-lg text-primary mr-2">{{actividades_pendientes}}</i></a>
            </div>
        </div>
    </div>
</div>
