{% load eva_tags %}
{% load static %}
<form action="{% url 'TalentoHumano:colaboradores-novedad-agregar' colaborador.usuario_id %}" id="agregar-novedad-form" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header p-b-0">
                <h4 class="modal-title">
                    Agregar Novedad al Colaborador: {{ colaborador.nombre_completo }}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                 <div class="form-row">
                    <div class="form-group col-12">
                        {% select_tag tipos_novedad 'tipo_novedad_id' 'Seleccione un tipo de novedad' texto_label="Tipo de Novedad" required="" mensaje_validacion='Por favor seleccione un tipo de novedad' %}
                    </div>
                 </div>
                 <div class="form-row">
                    <div class="form-group col-12">
                        {% input_date_tag 'fecha_novedad' 'Fecha de novedad' placeholder="Seleccione una fecha" required="" autocomplete="off" mensaje_validacion='Por favor seleccione una fecha.' %}
                    </div>
                 </div>
                 <div class="form-row">
                    <div class="form-group col-12">
                        {% input_textarea_tag 'descripcion' 'Descripción' placeholder="Ingrese la descripción de la novedad" required="" maxlength="100" mensaje_validacion='Por favor describa la novedad' %}
                    </div>
                 </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-pills">Cancelar</button>
                <button id="agregar" type="submit" class="btn btn-primary btn-pills">Agregar</button>
            </div>
        </div>
    </div>
</form>
