{% extends 'GestionActividades/_common/base_gestion_actividades.html' %}
{% load static %}
{% load eva_tags %}
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-solid.css' %}">
    {% include 'EVA/_common/_statics/_tablas.html' with incCSS=True %}
    {% include 'EVA/_common/_statics/_select2.html' with incCSS=True %}
    {% include 'EVA/_common/_statics/_datepicker.html' with incCSS=True %}
{% endblock styles %}
{% block main %}
    <div class="panel-container show">
        <div class="header">
            <h1 class="header-title">
                <i class='far fa-user'></i> Grupo Actividades <span class='fw-300'></span>
                <br>
                <br>
            </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        {% if perms.GestionActividades.add_grupoactividad %}
                            <div class="col-md-10">
                                <small>
                                    <a class="far fa-3x far fa-plus-circle" href="javascript:abrirModalCrearGrupoActividad('{% url 'GestionActividades:grupos-actividades-crear' %}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Crear Grupo"></a>
                                </small>
                            </div>
                        {% else %}
                            <div class="col-md-10"></div>
                        {% endif %}
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-xl-12">
                                                <div class="border-faded bg-faded p-2 mb-g d-flex">
                                                    <input type="text" id="js-filter-contacts" name="filter-contacts" onkeydown="" class="form-control shadow-inset-2 form-control-lg" placeholder="Filtrar Nombre">
                                                    <div class="btn-group btn-group-lg btn-group-toggle hidden-lg-down ml-3" data-toggle="buttons">
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="contactview" id="grid" checked="" onkeydown="" value="grid"><i class="fas fa-table"></i>
                                                        </label>
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="contactview" id="table" value="table"><i class="fas fa-th-list"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    {% select_tag contratos 'contratos_id' 'Seleccione un contrato' texto_label="Contrato" required="" value="" invalido='' mensaje_validacion='Por favor seleccione un contrato' %}
                                                </div>
                                                <div class="col-md-4">
                                                    {% select_tag colaboradores 'colaboradores_id' 'Seleccione un colaborador' texto_label="colaborador" required="" value='' invalido='' mensaje_validacion='Por favor seleccione un colaborador' %}
                                                </div>
                                                <div class="col-md-4">
                                                    {% select_tag procesos 'procesos_id' 'Seleccione un proceso' texto_label="Proceso" required="" value=lista_procesos invalido='' mensaje_validacion='Por favor seleccione un proceso' %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="js-contacts">
                                            {% for grupo_actividad in grupos_actividades %}
                                                {% for proceso in lista_procesos %}
                                                    {% if grupo_actividad.proceso_id == proceso.id %}
                                                        {% for dato_grupo in datos_grupo %}
                                                            {% if grupo_actividad.id == dato_grupo.id_grupo %}
                                                                {% include 'GestionActividades/_common/_tarjeta_grupo_actividad.html' with nombre=grupo_actividad.nombre id_grupo=grupo_actividad.id  proceso=proceso.nombre asociado=2 actividades=dato_grupo.actividades responsables=dato_grupo.nombre actividades_pendientes=dato_grupo.actividades_pendientes progreso=dato_grupo.progreso_porcentaje%}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% for contrato in lista_contratos %}
                                                    {% if grupo_actividad.contrato_id == contrato.id %}
                                                        {% for dato_grupo in datos_grupo %}
                                                            {% if grupo_actividad.id == dato_grupo.id_grupo %}
                                                                {% include 'GestionActividades/_common/_tarjeta_grupo_actividad.html' with nombre=grupo_actividad.nombre id_grupo=grupo_actividad.id  contrato=contrato.numero_contrato asociado=1 actividades=dato_grupo.actividades responsables=dato_grupo.nombre actividades_pendientes=dato_grupo.actividades_pendientes progreso=dato_grupo.progreso_porcentaje%}
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% include 'EVA/_common/_paginacion.html' with datos=grupo_actividad %}
                                </div>
                                <div class="card-footer small text-muted">Actualizado: {{ fecha }} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='gestion-actividades/grupos-actividades' %}
    <div class="modal fade" tabindex="-1" id="crear-grupo-actividad" role="dialog" aria-hidden="true"></div>
{% endblock %}

{% block scripts %}
    {% include 'EVA/_common/_statics/_tablas.html' %}
    {% include 'EVA/_common/_statics/_select2.html' %}
    {% include 'EVA/_common/_statics/_datepicker.html' %}
    <script src="{% static 'GestionDocumental/js/filtro_consecutivos.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/controlBusquedaPaginacion.js' %}"></script>
    <script src="{% static 'GestionActividades/js/grupos_actividades.js' %}"></script>
    <script src="{% static 'GestionActividades/js/confirmar_eliminar_grupo_actividad.js' %}"></script>
{% endblock scripts %}
