{% extends 'GestionDocumental/_common/base_gestion_documental.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}Consecutivo de Documentos{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
{% endblock styles %}

{% block main %}

    <div class="panel-container show">
            <div class="header">
                 <h1 class="header-title">
                    <i class='far fa-file-alt'></i> Consecutivo de Documentos <span class='fw-300'></span>
                     <br>
                     <br>
                 </h1>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="panel-1" class="panel">
                        {% if perms.GestionDocumental.add_consecutivodocumento %}
                        <div class="panel-hdr">
                            <div class="col-md-10">
                                <small>
                                     <a class="far fa-3x far fa-plus-circle"  href="{% url 'GestionDocumental:consecutivo-documento-crear' %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Agregar consecutivo de documento"></a>
                                </small>
                            </div>
                            <div class="col-md-2" style="float: right" >
                                {% select_tag opciones_filtro 'filtro_consecutivos' '' value=id_filtro  %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="panel-container show">
                            <div class="panel-content">
                                <div class="panel-group">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered w-100" id="dataTableConsecutivos">
                                                <thead>
                                                    <tr>
                                                        <th>Código</th>
                                                        <th>Fecha</th>
                                                        <th>Contrato</th>
                                                        <th>Detalle</th>
                                                        <th>Destinatario</th>
                                                        <th>Usuario</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for consecutivo in consecutivos %}
                                                        <tr {% if consecutivo.fecha.date == fecha.date and consecutivo == consecutivos.last and id_filtro == 1 %}style="background: #fffaee;"{% endif %}>
                                                            <td>{{ consecutivo.codigo}}</td>
                                                            <td>{{ consecutivo.fecha | date:'Y-m-d H:m'}}</td>
                                                            <td>{% if consecutivo.contrato %}
                                                                    {{ consecutivo.contrato}}
                                                                {% else %}
                                                                    {% for col in colaborador %}
                                                                        {% if col.usuario_id == consecutivo.usuario.id %}
                                                                            {{ col.proceso__sigla }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </td>
                                                            <td>{{ consecutivo.detalle}}</td>
                                                            <td>{{ consecutivo.destinatario }}</td>
                                                            <td>{{ consecutivo.usuario }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/ajaxDjango.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/exportar_tabla.js' %}"></script>
    <script src="{% static 'GestionDocumental/js/exportar_tabla.js' %}"></script>
    <script src="{% static 'GestionDocumental/js/filtro_consecutivos.js' %}"></script>
    <script>
		$(document).ready(function () {
		    $('.select2').select2();
		});
	</script>
{% endblock %}
