{% load eva_tags %}
{% load static %}
 {% if editar %}
<form action= "{% url 'GestionDocumental:consecutivo-contratos-editar' contrato_actual%}" id="consecutivo_contrato_form_editar" method="post" class="needs-validation" novalidate>
{% else %}
<form action= "{% url 'GestionDocumental:consecutivo-contratos-crear' %}" id="consecutivo_contrato_form" method="post" class="needs-validation" novalidate>
{% endif %}
    {% csrf_token %}
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header p-b-0">
                <h4 class="modal-title">
                     {% if editar %}{{ "Editar" }}{% else %}{{ "Crear" }}{% endif %} consecutivos de Contrato
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group">
                        <input id="extra_tipos_contrato" value="{{ extra_tipos_contrato }}" style="display: none">
                        <div class="col-md-12">
                            {% select_tag tipo_contratos 'tipo_contrato' 'Seleccione un tipo de contrato'  value=tipo_contrato_actual texto_label="Tipo de contrato" required="" mensaje_validacion='Por favor seleccione un tipo de contrato'  %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="colaborador_mostrar_id" class="col-md-12">
                            {% select_tag colaboradores 'colaborador' 'Seleccione un colaborador' value=colaborador_actual texto_label="Colaborador" required="" mensaje_validacion='Por favor seleccione un colaborador' %}
                        </div>
                    </div>
                    <div class="form-group" >
                        <div id=tercero_mostrar_id style="display: none" class="col-md-12">
                            {% select_tag terceros 'tercero' 'Seleccione un tercero' texto_label="Tercero"  value=tercero_actual mensaje_validacion='Por favor seleccione un tercero' %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            {% input_date_tag 'fecha_inicio' 'Fecha de inicio' placeholder="Seleccione una fecha de inicio" value=fecha_inicial required="" autocomplete="off" mensaje_validacion='Por favor seleccione una fecha de inicio.' %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="fecha_final_mostrar" class="col-md-12">
                            {% input_date_tag 'fecha_final' 'Fecha Final' placeholder="Seleccione una fecha final" value=fecha_final required="" autocomplete="off" mensaje_validacion='Por favor seleccione una fecha final.' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-danger btn-pills">Cancelar</button>
                <button id="agregar" type="submit" class="btn btn-primary btn-pills"> {% if editar %}{{ "Editar" }}{% else %}{{ "Agregar" }}{% endif %} </button>
            </div>
        </div>
    </div>
</form>
