{% extends 'GestionDocumental/_common/base_gestion_documental.html' %}
{% load static %}
{% load eva_tags %}
<title>{% block titulo %}Consecutivo de Contratos{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css' %}">
	<link rel="stylesheet" media="screen, print" href="{%static 'EVA/Plantilla/css/fa-brands.css' %}">
{% endblock styles %}

{% block main %}

    <div class="panel-container show">
            <div class="header">
                 <h1 class="header-title">
                    <i class='fad fa-file-alt'></i> Consecutivo de Contratos <span class='fw-300'></span>
                     <br>
                     <br>
                 </h1>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div id="panel-1" class="panel">
                        <div class="panel-hdr">
                            {% if perms.GestionDocumental.add_consecutivocontrato %}
                            <div class="col-md-10">
                                <small>
                                    <a class="fad fa-3x fad fa-plus-circle" href="javascript:abrirModalCrear('{% url 'GestionDocumental:consecutivo-contratos-crear'%}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Agregar consecutivo de contrato"></a>
                                </small>
                            </div>
                            {% else %}
                            <div class="col-md-10"></div>
                            {% endif %}
                            <div class="col-md-2" style="float: right" >
                                {% select_tag tipo_contratos 'tipo_consecutivos' '' value=id_tipo_contrato  %}
                            </div>
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                <div class="panel-group">
                                    <div class="panel-body">
                                        {% include 'EVA/_common/_busqueda_paginacion.html' %}
                                        <table class="table table-bordered w-100 table-striped" id="dataTable">
                                            <thead class="bg-primary-600">
                                                <tr>
                                                    <th data-priority="1" class="min-w-100">Consecutivo</th>
                                                    <th>Nombre</th>
                                                    <th class="min-desktop">Fecha de Creación</th>
                                                    <th>Fecha de Inicio</th>
                                                    <th>Fecha Final</th>
                                                    <th class="min-tablet-l">Tipo de Contrato</th>
                                                    <th class="none">Usuario</th>
                                                    <th class="none">Motivo Editar/Anular</th>
                                                    <th>Estado</th>
                                                    <th data-priority="2">Contrato</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for consecutivo in consecutivos %}
                                                    <tr>
                                                        <td><span id="copiar_{{ consecutivo.id }}">{{ consecutivo.codigo }}</span>
                                                            <span><a class="fad fa-copy" href="javascript:void(0);"  onclick="copiarAPortapapeles('{{ consecutivo.codigo }}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Copiar"></a></span>
                                                        </td>
                                                        <td>{% if consecutivo.usuario %}
                                                                {{ consecutivo.usuario.get_full_name }}
                                                            {% else %}
                                                                {{ consecutivo.tercero }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ consecutivo.fecha_crea | date:'Y-m-d H:i'}}</td>
                                                        <td>{{ consecutivo.fecha_inicio | date:'Y-m-d'}}</td>
                                                        <td>{% if consecutivo.fecha_final %}
                                                                {{ consecutivo.fecha_final | date:'Y-m-d'}}
                                                            {% else %} N/A {% endif %}</td>
                                                        <td>{{ consecutivo.tipo_contrato }}</td>
                                                        <td>{{ consecutivo.usuario_crea.username }}</td>
                                                        <td>{% if consecutivo.justificacion %}{{ consecutivo.justificacion }}{% endif %}</td>
                                                        <td>
                                                            {% if consecutivo.estado %}
                                                                <span class="badge badge-primary">Vigente</span>
                                                            {% else %}
                                                                <span class="badge badge-secondary">Anulado</span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if  perms.GestionDocumental.add_consecutivocontrato and consecutivo.estado%}
                                                                <a class="fad fa-2x fa-file-upload" href="javascript:abrirModalCargar('{% url 'GestionDocumental:consecutivo-contratos-cargar' consecutivo.id%}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Cargar Contrato"></a>
                                                            {% endif %}
                                                            {% if perms.GestionDocumental.view_consecutivocontrato and consecutivo.ruta_archivo %}
                                                                <a class="fad fa-2x fa-eye" href="javascript:abrirModalVistaPrevia('{% url 'GestionDocumental:consecutivo-contratos-ver' consecutivo.id%}')" data-original-title="Ver" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="Ver Contrato Cargado"></a>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if perms.GestionDocumental.editar_consecutivocontrato and consecutivo.estado %}
                                                              <a class="fad fa-2x fa-file-edit" id="editar_{{ consecutivo.id }}" href="javascript:abrirModalCrear('{% url 'GestionDocumental:consecutivo-contratos-editar' consecutivo.id%}')" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Editar"></a>
                                                            {% endif %}
                                                            {% if perms.GestionDocumental.delete_consecutivocontrato and consecutivo.estado %}
                                                              <a class="fad fa-2x fa-trash-alt color-danger-900" id="eliminar_{{ consecutivo.id }}" href="javascript:void(0);"  onclick="fConfirmarEliminar({{ consecutivo.id }}, true)" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Anular"></a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% include 'EVA/_common/_paginacion.html' with datos=consecutivos %}
                                    </div>
                                    <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% include 'Administracion/_elements/_modal_confirmar_eliminar.html' with objeto='gestion-documental/consecutivo-contratos' %}
    {% include 'EVA/_common/_vista_previa_modal.html' with titulo_modal='Vista Documento' %}
    <div class="modal fade" tabindex="-1" id="cargar" role="dialog"></div>
    <div class="modal fade" tabindex="-1" id="crear" role="dialog"  aria-hidden="true"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'Administracion/js/confirmarEliminar.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.export.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'GestionDocumental/js/consecutivos_contratos.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/controlBusquedaPaginacion.js' %}"></script>
    <script src="{% static 'GestionDocumental/js/configurar_modales.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/date_picker.js' %}"></script>
{% endblock %}

