{% extends 'TalentoHumano/_common/base_talento_humano.html' %}
{% load static %}
<title>{% block titulo %} Perfil: {{ colaborador.nombre_completo }}{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-brands.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-solid.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/theme-demo.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'TalentoHumano/css/cambiarFotoPerfil.css' %}">
    <link rel="mask-icon" href="{% static 'EVA/Plantilla/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
{% endblock styles %}

{% block main %}
    <div class="panel-container show">
        <div class="header">
            <h1 class="header-title">
                <i class='far fa-user'></i> Perfil: <span class='fw-300'>{{ colaborador.nombre_completo }}</span>
                <br>
                <br>
            </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <br>
                        <div class="col-md-10">
                            <small>
                                <a class="far fa-3x far fa-home"  href="{% url 'TalentoHumano:colaboradores-index' 0 %}" data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="" data-original-title="Ir al índice de colaboradores"></a>
                            </small>
                        </div>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="form-row">
                                        </div>
                                    </div>
                                    <main id="js-page-content" role="main" class="page-content">
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-3 order-lg-1 order-xl-1">
                                                <!-- profile summary -->
                                                <div class="card mb-g rounded-top">
                                                    <div class="row no-gutters row-grid">
                                                        <div class="col-12">
                                                            <div class="d-flex flex-column align-items-center justify-content-center p-4">
                                                                {% if request.user == colaborador.usuario or perms.TalentoHumano.change_colaborador %}
                                                                <a href="javascript: cambiarFotoPerfil({{ colaborador.id }})" title="Cambiar Foto de Perfil">
                                                                    <img src="{{ colaborador.foto_perfil.url }}" class="rounded-circle shadow-2 img-thumbnail foto_perfil_acual" alt="">
                                                                </a>
                                                                {% else %}
                                                                    <img src="{{ colaborador.foto_perfil.url }}" class="rounded-circle shadow-2 img-thumbnail" alt="">
                                                                {% endif %}
                                                                <h5 class="mb-0 fw-700 text-center mt-3">
                                                                    {{ colaborador.nombre_completo }}
                                                                    <small class="text-muted mb-0">{{ colaborador.cargo }}</small>
                                                                </h5>
                                                                <a class="mt-1 d-block fs-sm fw-400 text-muted mt-2">
                                                                    <i class="fas fa-user text-muted mr-2"></i>{{ colaborador.usuario.username }}</a>
                                                                <div class="mt-2 text-center demo">
                                                                    <a href="tel: {{ telefono }}" class="fs-xl">
                                                                        <i class="fas fa-mobile-alt text-muted mr-2"></i></a>
                                                                    <a href="mailto: {{ colaborador.usuario.email }}" class="fs-xl" >
                                                                        <i class="fas fa-envelope text-muted mr-2"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="text-center py-3">
                                                                <h5 class="mb-0 fw-700">
                                                                    <small class="text-muted mb-0">Contratos</small>
                                                                    {% for contrato in contratos %}
                                                                    {{ contrato.contrato }}<br>
                                                                    {% endfor %}

                                                                </h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="text-center py-3">
                                                                <h5 class="mb-0 fw-700">
                                                                    <small class="text-muted mb-0">Jefe inmediato</small>
                                                                     {{ colaborador.jefe_inmediato.nombre_completo }}
                                                                </h5>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="p-3 text-center">
                                                                <a href="http://{{ colaborador.arl.direccion_web }}" target="_blank" class="btn-link font-weight-bold">ARL: {{ colaborador.arl }}</a> <span class="text-primary d-inline-block mx-3">&#9679;</span>
                                                                <a href="http://{{ colaborador.eps.direccion_web }}" target="_blank" class="btn-link font-weight-bold">EPS: {{ colaborador.eps }}</a> <span class="text-primary d-inline-block mx-3">&#9679;</span>
                                                                <a href="http://{{ colaborador.afp.direccion_web }}" target="_blank" class="btn-link font-weight-bold">AFP: {{ colaborador.afp }}</a> <span class="text-primary d-inline-block mx-3">&#9679;</span>
                                                                <a href="http://{{ colaborador.caja_compensacion.direccion_web }}" target="_blank" class="btn-link font-weight-bold">Caja de compensación: {{ colaborador.caja_compensacion }}</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card mb-g">
                                                    <div class="row row-grid no-gutters">
                                                        <div class="col-12">
                                                            <div class="p-3">
                                                                <h2 class="mb-0 fs-xl">
                                                                    <strong> Información para contacto </strong>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div class="p-3">
                                                            <h5>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Celular:</b> {{ colaborador.telefono }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Correo electrónico:</b> {{ colaborador.usuario.email }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Dirección:</b> {{ colaborador.direccion }}
                                                                </small>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- contacts -->
                                                <div class="card mb-g">
                                                    <div class="row row-grid no-gutters">
                                                        <div class="col-12">
                                                            <div class="p-3">
                                                                <h2 class="mb-0 fs-xl">
                                                                    <strong> Colaboradores </strong>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        {% for colaborador in colaboradores %}
                                                            <div class="col-4">
                                                                <a href="{% url 'TalentoHumano:colaboradores-perfil' colaborador.id %}" class="text-center p-3 d-flex flex-column hover-highlight">
                                                                    <span class="profile-image rounded-circle d-block m-auto" style="background-image:url({{ colaborador.foto_perfil.url }}); background-size: cover;"></span>
                                                                    <span class="d-block text-truncate text-muted fs-xs mt-1">{{ colaborador.nombre_completo }}</span>
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                        <div class="col-12">
                                                            <div class="p-3 text-center">
                                                                <a href="{% url 'TalentoHumano:colaboradores-index' 0 %}" class="btn-link font-weight-bold">Ver todos</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-xl-6 order-lg-3 order-xl-2">
                                                <div class="card mb-g">
                                                    <div class="row row-grid no-gutters">
                                                        <div class="col-12">
                                                            <div class="p-3">
                                                                <h2 class="mb-0 fs-xl">
                                                                    <strong> Información básica </strong>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div class="p-3">
                                                            <h5>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Tipo de identificación</b>: {{ colaborador.tipo_identificacion }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Número de identificación:</b> {{ colaborador.identificacion }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Fecha de expedición:</b> {{ colaborador.fecha_expedicion|date:'Y-m-d' }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Género:</b> {% if colaborador.genero == 'M' %} Masculino {% elif colaborador.genero == 'F' %} Femenino {% else %} Otro {% endif %}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Fecha de nacimiento:</b> {{ colaborador.fecha_nacimiento|date:'Y-m-d' }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Lugar de nacimiento:</b> {{ colaborador.lugar_nacimiento |lower|capfirst }}, {{ colaborador.lugar_nacimiento.municipio.departamento |lower|capfirst}}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Grupo sanguíneo:</b> {{ colaborador.grupo_sanguineo }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>En caso de emergencia llamar a:</b> {{ colaborador.nombre_contacto }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Teléfono:</b> {{ colaborador.telefono_contacto }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Parentesco:</b> {{ colaborador.parentesco }}
                                                                </small>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card mb-g">
                                                    <div class="row row-grid no-gutters">
                                                        <div class="col-12">
                                                            <div class="p-3">
                                                                <h2 class="mb-0 fs-xl">
                                                                    <strong> Información laboral </strong>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div class="p-3">
                                                            <h5>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Jefe inmediato:</b> {{ colaborador.jefe_inmediato.nombre_completo }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Contrato:</b> {% for contrato in contratos %}{% if contratos.last == contrato %}{{ contrato.contrato }}{% else %}{{ contrato.contrato }}{{ ', ' }}{% endif %}{% endfor %}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Tipo de contrato:</b> {{ colaborador.tipo_contrato }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Cargo:</b> {{ colaborador.cargo }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Fecha de ingreso:</b> {{ colaborador.fecha_ingreso|date:'Y-m-d' }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Fecha de examen de ingreso:</b> {{ colaborador.fecha_examen|date:'Y-m-d' }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Proceso:</b> {{ colaborador.proceso }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Salario:</b> {{ colaborador.salario }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Rango:</b> {{ colaborador.rango }}
                                                                </small>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card mb-g">
                                                    <div class="row row-grid no-gutters">
                                                        <div class="col-12">
                                                            <div class="p-3">
                                                                <h2 class="mb-0 fs-xl">
                                                                    <strong> Dotación </strong>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div class="p-3">
                                                            <h5>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Talla de camisa:</b> {{ colaborador.talla_camisa }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Talla de pantalón:</b> {{ colaborador.talla_pantalon }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Talla de zapatos:</b> {{ colaborador.talla_zapatos }}
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    <b>Fecha de entrega de dotación:</b> {{ colaborador.fecha_dotacion|date:'Y-m-d' }}
                                                                </small>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3 order-lg-2 order-xl-3">
                                                <!-- add : -->
                                                <div class="card mb-2">
                                                    <div class="card-body">
                                                        <a href="javascript:void(0);" class="d-flex flex-row align-items-center">
                                                            <div class='icon-stack display-3 flex-shrink-0'>
                                                                <i class="fal fa-circle icon-stack-3x opacity-100 color-primary-400"></i>
                                                                <i class="fas fa-graduation-cap icon-stack-1x opacity-100 color-primary-500"></i>
                                                            </div>
                                                            <div class="ml-3">
                                                                <strong>
                                                                    Agregar certificados de estudios formales
                                                                </strong>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="card mb-g">
                                                    <div class="card-body">
                                                        <a href="javascript:void(0);" class="d-flex flex-row align-items-center">
                                                            <div class='icon-stack display-3 flex-shrink-0'>
                                                                <i class="fal fa-circle icon-stack-3x opacity-100 color-warning-400"></i>
                                                                <i class="fas fa-file-check icon-stack-1x opacity-100 color-warning-500"></i>
                                                            </div>
                                                            <div class="ml-3">
                                                                <strong>
                                                                    Agregar cursos realizados
                                                                </strong>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!-- rating -->
                                                <div class="card mb-g">
                                                    <div class="row row-grid no-gutters">
                                                        <div class="col-12">
                                                            <div class="p-3">
                                                                <h2 class="mb-0 fs-xl">
                                                                    <strong> Estudios formales realizados </strong>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div class="p-3">
                                                            <h5>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    Ingeniería electrónica
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    Especialización en mantenimiento industral
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    Maestría en ingeniería electrónica
                                                                </small>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card mb-g">
                                                    <div class="row row-grid no-gutters">
                                                        <div class="col-12">
                                                            <div class="p-3">
                                                                <h2 class="mb-0 fs-xl">
                                                                    <strong> Cursos realizados </strong>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                        <div class="p-3">
                                                            <h5>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    Trabajo en alturas
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    Primeros auxilios
                                                                </small>
                                                                <small class="mt-0 mb-3 text-muted">
                                                                    Trabajo en líneas de alta y media tensión
                                                                </small>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </main>
                                    <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"  tabindex="-1" id="mCambiarFotoPerfil" role="dialog"></div>

{% endblock main%}

{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/custom/ajaxDjango.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/formplugins/select2/select2.bundle.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/cambioVisusalizacionTabla.js' %}"></script>
    <script src="{% static 'TalentoHumano/js/cambiarFotoPerfil.js' %}"></script>
    <script src="{% static 'EVA/Plantilla/js/custom/validaciones/validar_formulario.js' %}"></script>
{% endblock scripts%}