{% extends 'EVA/_common/base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}Index{% endblock %}</title>
    </head>
    <body>
    {% block main %}
        <div class="subheader">
            <h1 class="subheader-title">
                <i class='subheader-icon fal fa-'></i> Bienvenido a <span class='fw-300'>Espacio Virtual de ARIOS</span>
                <small>

                </small>
            </h1>
            <div class="subheader-block">

            </div>
        </div>
    {% endblock %}
    </body>
</html>
