{% extends 'Administracion/Autenticacion/_common/base_autenticacion.html' %}
{% load static %}

{% block titulo %}
    Confirmación de Asignación de Contraseña
{% endblock %}

{% block main %}
    <div class="flex-1 fondo-autenticacion-proveedores">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-4"></div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
                    <div class="card p-4 rounded-plus bg-faded" style="justify-content: center">
                        <div style="display: flex; justify-content: center;">
                                <img src="{% static 'EVA/Plantilla/img/custom/proveedores/icono-proveedores.svg' %}" height="80" alt="logo proveedores">
                        </div>
                        <div style="display: flex; justify-content: center;">
                                <img src="{% static 'EVA/Plantilla/img/custom/proveedores/texto-proveedores.svg' %}" height="60" alt="logo proveedores">
                        </div>

                        <div class="card p-4 mt-1 rounded-plus bg-faded-white" style="justify-content: center">
                            <div style="display: flex; justify-content: center;">
                                <img src="{% static 'EVA/Plantilla/img/custom/logo-eva.svg' %}">
                            </div>
                            <br><br>
                            <h4 style="text-align: center">La contraseña se ha asignado con éxito</h4>
                            {% if request.user.id %}
                                <button id="js-login-btn" type="button" onclick='window.location.href="{% url 'Administracion:cerrar-sesion' %}"' class="btn btn-primary btn-block mt-2">Ir a Inicio de Sesión</button>
                            {% else %}
                                <button id="js-login-btn" type="button" onclick='window.location.href="{% url 'Administracion:proveedor-iniciar-sesion' %}"' class="btn btn-primary btn-block mt-2">Ir a Inicio de Sesión</button>
                            {% endif %}
                        </div>
                        <div class="mt-4" style="display: flex; justify-content: center;">
                            <img src="{% static 'EVA/Plantilla/img/custom/logo-arios-blanco.svg' %}" style="width: 50%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
