{% extends 'SGI/_common/base_sgi.html' %}
{% load static %}
<title>{% block titulo %}SGI - Reportes{% endblock %}</title>
{% block styles %}
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/datagrid/datatables/datatables.bundle.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/fa-regular.css' %}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/notifications/sweetalert2/sweetalert2.bundle.css'%}">
    <link rel="stylesheet" media="screen, print" href="{% static 'EVA/Plantilla/css/formplugins/select2/select2.bundle.css' %}">
{% endblock styles %}

{% block main %}

    <div class="panel-container show">
        <div class="header">
             <h1 class="header-title">
                <i class='fad fa-file-chart-line'></i> Reportes <span class='fw-300'></span>
                 <br>
                 <br>
             </h1>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div id="panel-1" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered w-100" id="dataTable">
                                            <thead class="bg-primary-600">
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Descarga</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Listado Maestro de Información Documentada</td>
                                                    <td>
                                                        <a class="fad fa-2x fa-file-pdf" style="padding-left: 10px; text-decoration: none !important;" href="{% url 'sgi:reportes-descarga' 1 'pdf'  %}" target="_blank" data-original-title="Ver"  data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="Descargar pdf"></a>
                                                        <a class="fad fa-2x fa-file-excel" style="padding-left: 10px; text-decoration: none !important;" href="{% url 'sgi:reportes-descarga' 1 'xlsx'  %}" target="_blank" data-original-title="Ver"  data-template='<div class="tooltip" role="tooltip"><div class="tooltip-inner bg-primary-500"></div></div>' data-toggle="tooltip" title="Descargar Excel"></a>
                                                    </td>
                                                <tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Actualizado: {{ fecha }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="detalle_solicitud" role="dialog">

    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'EVA/Plantilla/js/datagrid/datatables/datatables.bundle.js' %}"></script>
{% endblock %}
